/* ==========================================================================
   #SEARCH-BAR
   ========================================================================== */

.c-search-bar input{
  border: none;
}
.c-search-bar .ember-power-select-trigger {
  border: none;
}
.c-search-bar .ember-power-select-search-input:focus {
  border: none;
  box-shadow: none;
}

.c-search-bar-dropdown .ember-power-select-option {
  padding: 0.5em;
}
.c-search-bar-dropdown > .ember-power-select-options {
  min-height: 13em;
}
