/* ==========================================================================
   #BUTTONS
   ========================================================================== */

// Button
/* ==================================== */

.c-btn {
   display: inline-block;
   margin: 0;
   padding: $spacing-unit-medium $spacing-unit-x-large;
   text-align: center;
   vertical-align: baseline;
   cursor: pointer;
   border-width: 1px;
   border-style: solid;
   border-radius: $border-radius;
   font-family: $primary-font-stack;
   transition: $global-transition;
   @extend .fs2;
   @extend .fw-med;
}

// only styles enabled buttons
.c-btn-primary:not([disabled]) {
  color: $color-white;
  background: $color-primary-teal;
  border-color: $color-primary-teal;
  @extend .u-hv-bc-teal;
}

// only styles enabled buttons
.c-btn-secondary:not([disabled]) {
  color: $color-primary-teal;
  background-color: $color-white;
  border-color: $color-primary-teal;
  @extend .u-hv-bc-white;
}

.c-btn:disabled {
  background-color: $color-very-light-grey;
  border-color: $color-very-light-grey;
  color: $color-light-grey;
  cursor: default;
}

.c-btn-text-primary {
  color: $color-primary-teal;
  background-color: $color-white;
  border: none;
  cursor: pointer;
  font-family: $primary-font-stack;
  padding: 0;
  @extend .fw-med;
  @extend .fs2;
  &:hover {
    text-decoration: underline;
  }
}
.c-btn-text-secondary {
  @extend .fc-secondary;
  background-color: $color-white;
  border: none;
  cursor: pointer;
  font-family: $primary-font-stack;
  padding: 0;
  @extend .fw-reg;
  @extend .fs1;
  &:hover {
    text-decoration: underline;
  }
}

.c-help-link {
  .active {
    @extend .fw-bold;
  }
}
