.c-reputation-total {
  right: -8px;
  bottom: -8px;
  border-radius: 8px;
}

.c-reputation-total-small {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  min-width: $global-spacing-unit;
}
