.c-follow-btn {
  display: inline-block;
  padding: $spacing-unit-small $spacing-unit-medium;
  text-align: center;
  vertical-align: baseline;
  min-width: $spacing-unit-x-large;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
  font-family: $primary-font-stack;
  transition: $global-transition;
  background-color: transparent;
  outline: none;
  @extend .fs0;
  @extend .fw-med;
}
.c-follow-btn-default {
  @extend .fc-secondary;
  @extend .u-hv-bc-darken10;
}

.c-follow-btn-following {
  border-color: $color-primary-teal;
  color: $color-primary-teal;
}

.c-follow-btn-unfollow {
  border-color: $color-primary-red;
  color: $color-primary-red;
}
