.c-reputation-total {
  right: -8px;
  bottom: -8px;
  border-radius: 8px;
}

.c-reputation-total-small {
  padding: 2px 4px 2px 4px;
  min-width: $global-spacing-unit;
}

.c-reputation-total-large {
  padding: 4px 6px 4px 6px;
  min-width: $global-spacing-unit-large - 10;
}
