/* ==========================================================================
   #TRANSPARENT OVERLAY
   ========================================================================== */
.c-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparentize($color-light-bluegrey, .1);
}
