.c-validated-input {
  text-align: left;
}
  .c-validated-input.invalid{
    input, textarea {
      border-color: $color-primary-red;
    }
  }

.c-validated-input-label {
  font-size: $font-size-regular;
  padding-left: 3px;
  transition: $global-transition;
}

.c-validated-input-msg-container {
  padding-top: 3px;
  height: 35px;
}

.c-validated-input-msg {
  line-height: 1.3;
  padding-left: 3px;
}

.c-pw-text-btn {
  position: absolute;
  right: 4px;
  top: 3px;
}
