/* ==========================================================================
   #Help-Text - There has to be a better solution to this
   ========================================================================== */

.c-help-text {
  h1, h2, h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
  }
}
