.c-notification-img-date-container { width: 70px; }
.c-notification-body {
  max-width: 240px;
  overflow-wrap: break-word;
}
.c-notification-list {
  max-height: calc(90vh - #{$spacing-unit-x-large});
  max-height: -o-calc(90vh - #{$spacing-unit-x-large}); /* opera */
  max-height: -webkit-calc(90vh - #{$spacing-unit-x-large}); /* google, safari */
  max-height: -moz-calc(90vh - #{$spacing-unit-x-large}); /* firefox */
  overflow-y: auto;
}
.c-notification-unread-marker {
  @extend .circle;
  @extend .bc-primary-red;
  padding: 4px;
  position: absolute;
  top: $spacing-unit-medium;
}
