.ember-power-select-trigger {
  width: 100%;
}
$ember-power-select-trigger-default-border-radius: $border-radius;
$ember-power-select-border-color: $border-color;
.ember-power-select-option {
  padding: 2em;
}
.ember-power-select-placeholder {
  @extend .pt2;
  @extend .pr2;
}
