/* ==========================================================================
   #Markdown-Text - There could be a better solution to this
   ========================================================================== */

.markdown-text {

  h1, h2, h3 {
    text-align: center;
    font-weight: 300;
  }

  h1 {  font-size: $global-font-size-very-large;  }
  h2 {  font-size: $global-font-size-large;       }
  h3 {  font-size: $global-font-size-large;       }

}
