/* ==========================================================================
   #LANDING PAGE
   Styles which are specific to the discover landing page
   ========================================================================== */

.c-landing-page {
  // large spacing unit === navbar height
  height: calc(100vh - #{$global-spacing-unit-large});
  height: -o-calc(100vh - #{$global-spacing-unit-large}); /* opera */
  height: -webkit-calc(100vh - #{$global-spacing-unit-large}); /* google, safari */
  height: -moz-calc(100vh - #{$global-spacing-unit-large}); /* firefox */
  min-height: 700px;
}

.u-full-height {
  height: inherit;
  min-height: inherit;
}