/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar-wrapper {
  box-shadow: $global-box-shadow;
  z-index: 1;
}

.c-navbar {
  height: $global-spacing-unit-large;
}

.c-navbar__search-input {
  height: $global-spacing-unit-large;
  width: 300px;
  font-family: $font-stack-roboto;
}

.c-navbar__site-logo {
  width: 140px;
}
