.c-sample-table {
  text-align: left;
  table, th, td {
    border: 1px solid $color-light-grey;
    border-collapse: collapse;
    padding: 1em;
    white-space: nowrap;
  }
  tr td a {
    display: block;
    height: 100%;
    width: 100%;
  }
  tr:hover {
    background-color: $color-very-light-grey;
  }
}