/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar-wrapper {
  box-shadow: $global-box-shadow;
  z-index: 11;
}

.c-navbar {
  height: $spacing-unit-x-large;
}

.c-navbar__element {
  width: 140px;
}

.c-navbar__center-block {
  width: 960px;
}
