/* ==========================================================================
   #Markdown-Text - There could be a better solution to this
   ========================================================================== */

.markdown-text {

  h1, h2, h3 {
    text-align: center;
    font-weight: 300;
  }

  h1 {  font-size: 2.5rem;  }
  h2 {  font-size: 1.25rem; }
  h3 {  font-size: 1rem;    }

}
