{{#if account}}
  <a class="u-flex u-items-center u-hv-bc-darken5 u-p1" href="{{accountLink}}">
    {{svg-jar accountImg class="u-w1 u-h1 u-circle u-mr1"}}
    <p class="u-tc-secondary u-hyphens-auto u-mb0 u-td-underline">{{accountName}}</p>
  </a>
{{/if}}
