{{#if account}}
  <a class="flex items-center u-hv-bc-darken5 p2" target="_blank" rel="noopener noreferrer" href="{{accountLink}}">
    {{svg-jar accountImg class="icon-small circle mr2"}}
    <p class="fc-secondary u-hyphens-auto mb0 td-underline">{{accountName}}</p>
  </a>
{{/if}}
