{{activity-card-header group=group isProfilePage=isProfilePage}}
<div class="c-activity-card-body">
  {{#each model as |dataset|}}
    {{activity-card-item dataset=dataset}}
  {{else}}
    <div class="flex justify-center items-center u-full-height">
      <p class="p3 ta-center">{{emptyText}}</p>
    </div>
  {{/each}}
</div>
