{{validated-input
  errors=validations.attrs.attributeValue.messages
  noLabel=true
  placeholder="Add an attribute"
  type="text"
  value=attributeValue
}}
{{async-button
  class="c-btn c-btn-primary u-mr2"
  action=(action 'addAttribute')
  default="Add"
  disableWhen=(not validations.isValid)
  pending="..."
}}
<button class="c-btn c-btn-text-secondary" {{action 'cancel'}}>Cancel</button>
