<img src={{avatar}} class="u-w1 mr2 circle" />
<div class="u-grow-1">
  {{validated-input
    type="textarea"
    value=comment
    placeholder=placeholder
    showCommentButtons=(action 'showButtons')
    disabled=disabled
  }}
  {{#if allowComment}}
    <div class="mb3">
      <button {{action 'addComment'}} class="c-btn c-btn-primary m3">Comment</button>
      <a {{action 'cancel'}} class="c-btn-text-secondary">Cancel</a>
    </div>
  {{/if}}
</div>
