<div class="mr2">
  {{r-avatar src=avatar size="medium"}}
</div>
<div class="flex-grow">
  {{validated-input
    type="textarea"
    value=comment
    placeholder=placeholder
    showCommentButtons=(action 'showButtons')
    disabled=disabled
  }}
  {{#if allowComment}}
    <div class="mb3">
      {{r-button variant="primary" label="Comment" clickHandler=(action "addComment")}}
      {{r-button variant="cancel" label="Cancel" clickHandler=(action "cancel")}}
    </div>
  {{/if}}
</div>
