<div class="grid pb2">
  {{#if isOpen}}
    <div class="grid__col grid__col--1-of-2 grid__col--am pr2">
      {{focus-input value=tag type="text" enter="addTag" placeholder="Enter tag name"}}
    </div>
    <div class="grid__col grid__col--1-of-2 grid__col--am">
      <button {{action "toggleInput"}} class="c-btn-text-secondary py3">Cancel</button>
    </div>
  {{else}}
    <div class="grid__col grid__col--3-of-3">
      <button {{action "toggleInput"}} class="c-btn c-btn-secondary px3 py2">Add new tag</button>
    </div>
  {{/if}}
</div>
