{{#if isOpen}}
    <div class="input-field no-margin">
      {{focus-input value=tag type="text" enter="addTag" placeholder="Enter tag name" class="input-tag"}}
      <button type="submit" class="sub-dark save-tag-btn">Cancel</button>
    </div>
{{else}}
  <a {{action "toggleInput"}}><span class="tag add-tag-btn">Add new tag</span></a>
{{/if}}
