<img src={{avatar}} class="u-w1 u-mr1 u-circle" />
<div>
  {{validated-input
    type="textarea"
    value=comment
    placeholder=placeholder
    showCommentButtons=(action 'showButtons')
    disabled=disabled
  }}
  {{#if isActive}}
    <div class="u-mb2">
      <button {{action 'addComment'}} class="c-btn-text-primary u-mr2">Comment</button>
      <a {{action 'cancel'}} class="c-btn-text-secondary">cancel</a>
    </div>
  {{/if}}
</div>
