{{validated-input
  errors=validations.attrs.attributeValue.messages
  noLabel=true
  placeholder=placeholder
  type="text"
  value=attributeValue
}}
{{async-button
  class="c-btn c-btn-primary mr3 mb2"
  action=(action 'add')
  default="Add"
  disableWhen=(not isValid)
  pending="Adding..."
}}
<button class="c-btn c-btn-text-secondary" {{action 'cancel'}}>Cancel</button>
