<div class="dp-wrapper">
  {{
    gravatar-image
    class="gravatar"
    defaultImage=avatar
  }}
</div>
<div class="input-field">
  {{textarea value=comment placeholder="Write a comment..." focus-in="focusedIn"}}
  {{#if isActive}}
  <div class="buttons">
    <button {{action 'addComment'}} class="btn post-btn teal white-text"><i class="mdi-action-done"></i></button>
    <a {{action 'cancel'}} class="grey-text cancel-btn">cancel</a>
  </div>
  {{/if}}
</div>
