{{#if isOpen}}
    <div class="input-field no-margin">
      {{focus-input value=tag type="text" enter="addTag" placeholder="Enter tag name" class="tag-input"}}
      <button {{action "toggleInput"}} class="c-btn c-btn--secondary">Cancel</button>
    </div>
{{else}}
  <button {{action "toggleInput"}} class="c-btn c-btn--secondary">Add new tag</button>
{{/if}}
