<div class="dp-wrapper">
  <img src="/assets/images/icons/person-icon.png" alt="Your display picture" class="display-pic">
</div>
<div class="input-field">
  {{textarea value=comment placeholder="Write a comment..." focus-in="focusedIn"}}
  {{#if isActive}}
  <div class="buttons">
    <a {{action 'addComment'}} class="btn teal white-text" >Post</a>
    <a {{action 'cancel'}} class="grey-text cancel-btn">Cancel</a>
  </div>
  {{/if}}
</div>
