<img src={{avatar}} class="icon-medium mr2 circle" />
<div class="flex-grow">
  {{validated-input
    type="textarea"
    value=comment
    placeholder=placeholder
    showCommentButtons=(action 'showButtons')
    disabled=disabled
  }}
  {{#if allowComment}}
    <div class="mb3">
      {{rui/r-button variant="primary" label="Comment" clickHandler=(action "addComment")}}
      {{rui/r-button variant="cancel" label="Cancel" clickHandler=(action "cancel")}}
    </div>
  {{/if}}
</div>
