{{validated-input
  label="Current Password"
  class="border-bottom"
  type="password"
  value=oldPassword
  errors=validations.attrs.oldPassword.messages
  placeholder="Your current password"
}}

{{validated-input
  label="New Password"
  class="pt4 mb2"
  type="password"
  value=password1
  errors=validations.attrs.password1.messages
  placeholder="Password you are going to use"
  helpText="Minimum 8 characters. Must include an uppercase letter or number."
}}

{{validated-input
  label="Confirm Password"
  class="mb2"
  type="password"
  value=password2
  errors=validations.attrs.password2.messages
  placeholder="Confirm your new password"
  helpText="Minimum 8 characters. Must include an uppercase letter or number."
}}

<div class="ta-center">
  {{rui/r-async-button
    action=(action 'submitForm')
    default="Change Password"
    disableWhen=isDisabled
    pending="Saving..."
    reset=true
    size="big"
    variant="primary"
  }}  
</div>
