{{#link-to 'collections.collection' collection.id classNames="feed-item-component"}}
  <div class="c-card u-mb3 c-col-li-item">
    <section class="grid__col grid__col--1-of-5 grid__col--am u-px3 u-py2 u-bc-light-bluegrey u-ta-center u-full-height">
      {{fa-icon "database" size=3 class='u-tc-secondary u-p1'}}
      <p class="u-mb0">Collection</p>
    </section>

    <section class="grid__col grid__col--1-of-5 grid__col--am u-px2 u-py2 u-ta-center u-border-right">
      <img src="/assets/images/favicon.ico" class="c-img--src-logo">
      <p class="fs0 u-mb0 fw-bold u-p1">Repositive</p>
    </section>

    <section class="grid__col grid__col--3-of-5 grid__col--am u-ta-left u-py1 u-px2">
      {{#link-to 'collections.collection' collection.id}}
        <h4 class="fs2 u-mb1">{{collection.name}}</h4>
      {{/link-to}}
      <p class="u-mb0">{{if collection.properties.summary collection.properties.summary collection.description}}</p>
    </section>

  </div>
{{/link-to}}
