{{#if (eq type 'personal_repository')}}
  <span class="helper-text">created by </span>
  <span class="collection-owner">{{#link-to 'user' user.id}}{{user.displayName}}{{/link-to}}</span>
{{else if (eq type 'repositive_collection')}}
  <span class="helper-text">created by </span>
  <span class="collection-owner">Repositive</span>
{{/if}}
