{{#if (eq type 'personal_repository')}}
  <span class="u-tc-tertiary">created by </span>
  <span class="u-tc-primary">{{#link-to 'user' user.id}}{{user.displayName}}{{/link-to}}</span>
{{else if (eq type 'repositive_collection')}}
  <span class="u-tc-tertiary">created by </span>
  <span class="u-tc-primary">Repositive</span>
{{/if}}
