<h4 class="u-pt1 u-mb0 u-fs2 u-fw-med u-tc-tertiary">Contributors</h4>

{{#if contributors}}
  {{#each contributors as |contributor|}}
    {{user-preview user=contributor disabled=(not session.isAuthenticated)}}
  {{/each}}
{{else}}
  <p>No one has contributed to this {{modelName}} yet. Be the first.</p>
{{/if}}
