<h4 class="pt2 mb0 fs2 fw-med fc-tertiary">Contributors</h4>

{{#if contributors}}
  {{#each contributors as |contributor|}}
    {{user-preview user=contributor}}
  {{/each}}
{{else}}
  <p class="fs2 fc-tertiary">No one has contributed to this {{modelName}} yet. Be the first.</p>
{{/if}}
