<div class="u-flex u-items-center u-justify-between u-mb1">
  <p class="u-mb0">Primary Email</p>
  {{#if credential.is_verified}}
    <p class="u-tc-teal u-fw-med u-mb0">Your email is verified.</p>
  {{/if}}
</div>
<div class="u-flex u-justify-between">
  <p class="u-mb0 u-fs2">{{credential.main_credential.email}}</p>
  <a class="u-tc-secondary u-td-underline u-fs2" {{action 'toggleAddCredentialInput'}}>Change Email</a>
</div>
