<section class="stats">
  <h1 class="u-fs3 u-ta-center u-tc-secondary">
    <span>Search through </span>
    {{#link-to 'datasets.search' (query-params query="") class="u-tc-secondary u-fs4"}}
      {{datasetsNumber}}
    {{/link-to}}
    <span> Human Genomic Datasets </span>
  </h1>
</section>
