<section class="stats">
  <h1 class="fs3 u-ta-center u-tc-primary u-tc-secondary">
    <span>Search through </span>
    {{#link-to 'datasets.search' (query-params query="") class="u-tc-teal fs4"}}
      {{datasetsNumber}}
    {{/link-to}}
    <span> Human Genomic Datasets </span>
  </h1>
</section>
