<section class="stats center-align">
  <h2 class="numb">
    <span class="stats-text thin">Search through </span>
    {{#link-to 'datasets.search' (query-params q="") class="sub-grey"}}
      {{datasetsNumber}}
    {{/link-to}}
    <span class="stats-text thin"> Human Genomic Datasets </span>
  </h2>
</section>
