<form class="flex py2 items-end">
  <div class="mr2">
    {{validated-input
      label='Email Address'
      value=newEmail
      type='email'
      errors=validations.attrs.email.messages
      placeholder='e.g. liz@repositive.io'
      noMarkdown=true
      noMsgContainer=true
    }}
  </div>

  {{rui/r-async-button
    action=(action 'saveNewCredential')
    default="Save"
    disableWhen=isDisabled
    pending="Saving..."
    reset=true
    size="big"
    variant="primary"
  }}
  
</form>

<a class="fc-secondary td-underline" {{action 'cancel'}}>Cancel</a>
