<h4 class="unfocus-grey-text">Filters</h4>
{{#each aggs as |agg|}}
  {{#if agg.show}}
    <div class="section">
      {{#if (eq agg.displayName "Datasource")}}
        <h4>Data Source</h4>
      {{else}}
        <h4>{{ agg.displayName }}</h4>
      {{/if}}
      {{#each agg.buckets as |bucket|}}
        {{filter-list-item
          bucket=bucket
          aggName=agg.name
          addFilter=(action addFilter)
          removeFilter=(action removeFilter)
        }}
      {{/each}}
      <div class="divider"></div>
    </div>
  {{/if}}
{{/each}}
