<ul class="tabs">
  <li class="tab">
    {{#if (eq tab "sources")}}
      {{#link-to 'root' (query-params tab="") class="active"}}
        <img class="tab-icon" src="/assets/images/icon-datasource.png">Data Sources
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="sources")}}
        <img class="tab-icon" src="/assets/images/icon-datasource.png">Data Sources
      {{/link-to}}
    {{/if}}
  </li>
  <li class="tab">
    {{#if (eq tab "collections")}}
      {{#link-to 'root' (query-params tab="") class="active"}}
        <img class="tab-icon" src="/assets/images/icon-collection.png">Collections
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="collections")}}
        <img class="tab-icon" src="/assets/images/icon-collection.png">Collections
      {{/link-to}}
    {{/if}}
  </li>
  <li class="tab">
    {{#if (eq tab "requests")}}
      {{#link-to 'root' (query-params tab="") class="active"}}
        <img class="tab-icon" src="/assets/images/icon-request.png">Data Requests
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="requests")}}
        <img class="tab-icon" src="/assets/images/icon-request.png">Data Requests
      {{/link-to}}
    {{/if}}
  </li>
  <li class="tab">
    {{#if (eq tab "discussions")}}
      {{#link-to 'root' (query-params tab="") class="active"}}
        <img class="tab-icon" src="/assets/images/icon-discussion.png">Discussions
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="discussions")}}
        <img class="tab-icon" src="/assets/images/icon-discussion.png">Discussions
      {{/link-to}}
    {{/if}}
  </li>
</ul>
