{{yield}}

<div class="input-container">
  <div class="input-field">
    {{input valueBinding="controller.email" id="input-email" type="email" name="Email" placeholder="Email"}}
  </div>
  <div class="lbl">Email</div>
  <i class="mdi-communication-email"></i>
  <div class="input-helper">You'll need to verify this later.</div>
  {{#if showErrors}}
      {{#each error in errors.email}}
          <div class="text-invalid error-text">{{ error }}</div>
      {{/each}}
  {{/if}}
</div>
