{{#modal-dialog close="toggleMarkdownModal" targetAttachment="center" translucentOverlay=true}}
<div class="modal modal-fixed-footer">
  <header class="modal-header">
    <h4>Basic formatting rules with Markdown</h4>
    <span class="close-button large-text" {{action "toggleMarkdownModal"}}>{{fa-icon "times"}}</span>
  </header>
  <main class="modal-content">
    <p>Add a linebreak between paragraphs (press enter)</p>
    <p>To make text <em>Italic: </em>*italic*</p>
    <p>To make text <strong>Bold: </strong>**text**</p>
    <p>To make text <strong><em>Bold and Italic: </em></strong>***text***</p>
    <p>You can include a <a href="#">Link</a>: [Link Text](http://my-link.com)</p>
    <p>To display a list of items: </p>
    <ul>
      <li>* list item 1</li>
      <li>* list item 2</li>
    </ul>
    <p>To use different levels of headings, use: </p>
      <ul>
        <li># Heading One</li>
        <li>## Heading Two</li>
        <li>### Heading Three</li>
      </ul>
    <p>You can set <code>inline code</code> with: `inline code`</p>
    <p>All Markdown properties should be spaced with one line between them.</p>
  </main>
  <footer class="modal-footer">
    <p>Read more on <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown syntax documentation</a></p>
  </footer>
</div>
{{/modal-dialog}}
