{{#repositive-modal
  container-class='c-modal--small'
  close=(action 'toggleMarkdownModal')
}}
  {{repositive-modal/header
    title='Basic formatting rules with Markdown'
    onClose=(action 'toggleMarkdownModal')
  }}
  {{#repositive-modal/content}}
    <p>Add a linebreak between paragraphs (press enter)</p>
    <p>To make text <em>Italic: </em>*italic*</p>
    <p>To make text <strong>Bold: </strong>**text**</p>
    <p>To make text <strong><em>Bold and Italic: </em></strong>***text***</p>
    <p>You can include a <a href="#">Link</a>: [Link Text](http://my-link.com)</p>
    <p>To display a list of items: </p>
    <ul>
      <li>* list item 1</li>
      <li>* list item 2</li>
    </ul>
    <p>To use different levels of headings, use: </p>
    <ul>
      <li># Heading One</li>
      <li>## Heading Two</li>
      <li>### Heading Three</li>
    </ul>
    <p>You can set <code>inline code</code> with: `inline code`</p>
    <p>All Markdown properties should be spaced with one line between them.</p>
  {{/repositive-modal/content}}
  {{#repositive-modal/footer}}
    Read more on {{#link-to 'help.other' (query-params help="format")}}Markdown syntax documentation{{/link-to}}
  {{/repositive-modal/footer}}
{{/repositive-modal}}

