<main class="meta-filters" id="aggregation">
  <h3>Filters</h3>

  <section>
    <h4>Assay Type</h4>
    <div>
      <div class="label orange"></div>
      <span>RNA-Seq (15)</span>
    </div>
    <div>
      <div class="label light-blue"></div>
      <span>Expression profiling by array (7)</span>
    </div>
    <div>
      <div class="label light-green"></div>
      <span>Transcription profiling by array (3)</span>
    </div>
  </section>

  <section>
    <h4>Data Sources (4)</h4>
    <div><span>Expressomics (9)</span></div>
    <div><span>ArrayExpress (5)</span></div>
    <div><span>GigaScience (6)</span></div>
    <div><span>SRA (5)</span></div>
  </section>

  <section>
    <h4>Access Type</h4>
    <div><span>Open (20)</span></div>
    <div><span>Restricted (5)</span></div>
  </section>
</main>
