<a {{action "showInfo"}}>
  <li class="tab {{if displayInfo "active-tab"}}"><h5>More Information</h5></li>
</a>
<a {{action "showFilters"}}>
  <li class="tab {{unless displayInfo "active-tab"}}"><h5>Filters</h5></li>
</a>
