{{#if (eq type 'datasource')}}
  {{panel-back-button route='datasources'}}
{{else if (eq type 'repositive_collection')}}
  {{panel-back-button route='collections'}}
{{/if}}

{{#if (eq type 'repositive_collection')}}
  <img src="/assets/images/icons/icon-collection-white@2x.png" class="data-icon">
  <h5>Collection</h5>
{{else}}
  <img src="/assets/images/icons/icon-datasource-white@2x.png" class="data-icon">
  <h5>Data Source</h5>
{{/if}}
