<a {{action "showInfo"}}>
  <div class="grid__col grid__col--1-of-2 grid__col--m-1-of-2 grid__col--s-1-of-2">
    <li class="tab {{if displayInfo "border-bottom"}} o-list-inline__item block u-hv-bc-darken5"><h5 class="fs1 fc-secondary mb0 py3 cursor-pointer">More Information</h5></li>
  </div>
</a>
<a {{action "showFilters"}}>
  <div class="grid__col grid__col--1-of-2 grid__col--m-1-of-2 grid__col--s-1-of-2">
    <li class="tab {{unless displayInfo "border-bottom"}} o-list-inline__item block u-hv-bc-darken5"><h5 class="fs1 fc-secondary mb0 py3 cursor-pointer">Filters</h5></li>
  </div>
</a>
