<!--<div class="center-align margin-top">-->
  <!--<p class="sub-dark small-text">Do you need more help?</p>-->
  <!--<a href="mailto:support@repositive.io" class="btn btn-smaller btn-light no-margin">Contact Us</a>-->
<!--</div>-->

<div class="u-ta-center u-p2 u-mb3">
  <p class="">Do you need more help?</p>
  <a href="mailto:support@repositive.io" class="c-btn c-btn--secondary">Contact Us</a>
</div>