<div class="center-align margin-top">
  <p class="sub-dark small-text">Do you need more help?</p>
  <a href="mailto:dev@repositive.io" class="btn btn-smaller btn-light no-margin">Contact Us</a>
</div>
