<div class="navbar-dropdown">
  <!--
  <div class="notification-icon grey-text tiny">
    <i class="mdi-social-notifications"></i>
  </div>
  -->

  <a class='dropdown-button valign-wrapper' data-beloworigin="true" data-activates='profile-drop'>
    <div class="dp-wrapper">

      {{#if gravatar}}
        {{ gravatar-image email=model.user.email class='display-pic'}}
      {{else}}
        <img class="display-pic" src="{{avatar}}">
      {{/if}}
    </div>
    <i class="mdi-navigation-arrow-drop-down hide-on-small-only"></i>
  </a>

  <ul id='profile-drop' class='dropdown-content'>
    <li>{{#link-to 'user' currentUser.username}}PROFILE{{/link-to}}</li>
    <li class="divider"></li>
    <li>{{#link-to 'users.settings'}}SETTINGS{{/link-to}}</li>
    <li class="divider"></li>
    <li><a href="http://repositive.io/about" target="_blank">ABOUT</a></li>
    <li class="divider"></li>
    <li><a {{ action 'logout' }}>LOGOUT</a></li>
  </ul>
</div>
