{{yield}}
<div class="navbar-dropdown">
  <div class="navbar-button">
    <a class='dropdown-button valign-wrapper' data-beloworigin="true" data-activates='profile-drop'>
      <div class="dp-wrapper">
        <img src={{avatar}}>
      </div>
      <h5 class="firstname">{{firstname}}</h5>
    </a>
  </div>

  <ul id='profile-drop' class='dropdown-content'>
    <li>{{#link-to 'user' id}}PROFILE{{/link-to}}</li>
    <div class="divider"></div>
    <li>{{#link-to 'users.user_profile'}}SETTINGS{{/link-to}}</li>
    <div class="divider"></div>
    <li>{{#link-to 'help.searching-for-data' (query-params help=null)}}HELP{{/link-to}}</li>
    <div class="divider"></div>
    <li><a {{ action 'logout' }}>LOGOUT</a></li>
  </ul>
</div>
