{{#link-to route invokeAction=(action 'trackBackClick')}}
  <div class="fc-secondary absolute left-0 top-0 pt3 pl4" data-balloon="See all {{route}}" data-balloon-pos="right" data-balloon-length="medium">
    {{fa-icon "chevron-left"}}
  </div>
{{/link-to}}
