{{#link-to route class="left-align" invokeAction=(action 'trackBackClick')}}
  <div class="back-arrow center-align" data-balloon="See all {{route}}" data-balloon-pos="right" data-balloon-length="medium">
    {{fa-icon "chevron-left"}}
  </div>
{{/link-to}}
