{{#link-to route class="left-align" invokeAction=(action 'trackBackClick')}}
  <div class="u-tc-secondary u-pos-absolute u-pos-left0 u-pos-top0 pt3 pl4" data-balloon="See all {{route}}" data-balloon-pos="right" data-balloon-length="medium">
    {{fa-icon "chevron-left"}}
  </div>
{{/link-to}}
