<footer class="platform grey darken-3">
  <div class="center-align">
    <ul class="list-inline">
      <li><a class="grey-text" href="/about">ABOUT</a></li>
      <li><a class="grey-text" href="/team">TEAM</a></li>
      <li><a class="grey-text" href="/faq">FAQ</a></li>
      <li><a class="grey-text" href="/press">PRESS</a></li>
    </ul>
  </div>
  {{yield}}
</footer>
