{{#if session.isAuthenticated }}
  <div class="center-align">
  <ul class="list-inline">
    <li><a href="http://repositive.io/about" target="_blank" class="grey-text" {{action 'trackFooterLink' 'about' preventDefault=false}}>ABOUT</a></li>
    <li><a href="http://repositive.io/team" target="_blank" class="grey-text" {{action 'trackFooterLink' 'team' preventDefault=false}}>TEAM</a></li>
    <li>{{#link-to 'help.searching-for-data' (query-params help=null) invokeAction=(action 'trackFooterLink' 'help')}}HELP{{/link-to}}</li>
    <li>{{#link-to 'policies' (query-params tab="web") class='grey-text' invokeAction=(action 'trackFooterLink' 'policies')}}REPOSITIVE POLICY{{/link-to}}</li>
    <li>{{#link-to 'policies' (query-params tab="cookie") class='grey-text' invokeAction=(action 'trackFooterLink' 'cookies')}}USE OF COOKIES{{/link-to}}</li>
  </ul>
</div>
{{else}}
  <footer class="grey darken-3 footer">
    <div class="container">
      <div class="row">

        <div class="col s12 m3 offset-m1 l2 offset-l3">
          <h5 class="yellow-text">About</h5>
          <ul class="footer__links">
            <li><a href="/about" class="white-text">Mission</a></li>
            <li><a href="/team" class="white-text">Team</a></li>
            <li><a href="/jobs" class="white-text">Jobs</a></li>
            <li><a href="/press" class="white-text">Press</a></li>
            <li><a href="https://blog.repositive.io" class="white-text">Blog</a></li>
          </ul>
        </div>

        <div class="col s12 m3 l2">
          <h5 class="teal-text">Products</h5>
          <ul class="footer__links">
            <li><a href="/product" class="white-text">Data Platform</a></li>
            <li><a href="/pdx" class="white-text">PDX Resource</a></li>
            <li><a href="/services" class="white-text">Data Services</a></li>
            <li><a href="/faq" class="white-text">FAQs</a></li>
          </ul>
        </div>

        <div class="col s12 m4 l4">
          <h5 class="red-text">Contact</h5>
          <ul class="footer__links">
            <li class="thin white-text">+44 (0) 1223 781 455</li>
            <li><a href="mailto:info@repositive.io" target="_top" class="white-text">info@repositive.io</a></li>
            <br>
            <li><a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="white-text">
              Future Business Centre,
              King's Hedges Road,
              Cambridge, CB4 2HY
            </a></li>
          </ul>
        </div>

      </div>

      <div class="divider"></div>

      <div class="row center-align">
        <h5 class="white-text">Stay Connected</h5>
        <ul class="list-inline hide-on-small-only">
          <li>
            <a href="https://www.facebook.com/repositive.io/" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/facebook.png"></span>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/repositiveio" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/twitter.png"></span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/repositiveio/" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/instagram.png"></span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/repositive" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/linkedin.png"></span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCpcGDoCB05dJYLxkU2r_hKA" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/youtube.png"></span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/108134180119859663187/posts" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/google-plus.png"></span>
            </a>
          </li>
        </ul>
        <ul class="list-inline hide-on-med-and-up">
          <li>
            <a href="https://www.facebook.com/repositive.io/" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/facebook.png"></span>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/repositiveio" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/twitter.png"></span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/repositiveio/" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/instagram.png"></span>
            </a>
          </li>
        </ul>

        <ul class="list-inline hide-on-med-and-up">
          <li>
            <a href="https://www.linkedin.com/company/repositive" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/linkedin.png"></span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCpcGDoCB05dJYLxkU2r_hKA" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/youtube.png"></span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/108134180119859663187/posts" target="_blank">
              <span class="social-media-icon"><img src="assets/images/icons/social/google-plus.png"></span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </footer>

{{/if}}