<footer class="platform grey darken-3">
  <div class="center-align">
    <ul class="list-inline">
      <li><a href="http://repositive.io/about" target="_blank" class="grey-text">ABOUT</a></li>
      <li><a href="http://repositive.io/team" target="_blank" class="grey-text">TEAM</a></li>
      <li><a href="http://repositive.io/faq" target="_blank" class="grey-text">FAQ</a></li>
      <li><a href="http://repositive.io/press" target="_blank" class="grey-text">PRESS</a></li>
    </ul>
  </div>
  {{yield}}
</footer>
