<footer class="platform grey darken-3">
  <div class="center-align">
    <ul class="list-inline">
      <li><a class="grey-text">ABOUT</a></li>
      <li><a class="grey-text">TEAM</a></li>
      <li><a class="grey-text">FAQ</a></li>
      <li><a class="grey-text">PRESS</a></li>
    </ul>
  </div>
  {{yield}}
</footer>
