<footer class="platform grey darken-3">
  <div class="center-align">
    <ul class="list-inline">
      {{#link-to 'about'}}<li><a class="grey-text">ABOUT</a></li>{{/link-to}}
      {{#link-to 'team'}}<li><a class="grey-text">TEAM</a></li>{{/link-to}}
      {{#link-to 'faq'}}<li><a class="grey-text">FAQ</a></li>{{/link-to}}
      {{#link-to 'press'}}<li><a class="grey-text">PRESS</a></li>{{/link-to}}
    </ul>
  </div>
  {{yield}}
</footer>
