<label class="u-mr1 u-tc-secondary" for="results">Items per Page: </label>

{{#power-select
  options=resultsOptions
  selected=resultsPerPage
  searchEnabled=false
  onchange=(action "selectResults")
  as |results|}}
  {{results}}
{{/power-select}}
