<form {{action "search" query on="submit"}} class="u-flex u-items-center u-tc-secondary u-bc-white u-px2 u-border-left u-border-right u-fs2">
    {{fa-icon "search" class="u-mr2"}}
    {{input
      type="text"
      class="u-p0 u-border-none c-navbar__search-input"
      placeholder="title:cancer AND description:lung"
      value=query
      autofocus=true
    }}
</form>
