<div class="search-container">
  <div class="open-search">
    <form {{action 'search' query on='submit'}}>
      {{fa-icon "search"}}
      {{input
        type="text"
        class="unfocus-grey-text"
        placeholder="title:cancer AND description:lung"
        value=query
        autofocus=true
      }}
      <button class="btn">Search</button>
    </form>
  </div>
</div>
