<form class="u-flex bc-white border border-fat rounded border-teal" {{action search query on='submit'}}>
  <label class="u-flex-auto u-flex u-items-center">
    <span class="cursor-text">{{fa-icon "search" class='px3 fc-secondary'}}</span>
    {{input
      type="text"
      class="pr2 pl0 mr0 border-none"
      placeholder="title:cancer AND description:lung"
      value=query
      autofocus=true
    }}
  </label>
  <button class="c-btn c-btn-primary square u-self-stretch">Search</button>
</form>
