<form class="u-flex u-bc-white u-border u-border-fat u-border-color-teal" {{action search query on='submit'}}>
  {{fa-icon "search" class='u-p2'}}
  {{input
    type="text"
    class="u-flex-auto u-p2 u-mr0 u-border-none unfocus-grey-text"
    placeholder="title:cancer AND description:lung"
    value=query
    autofocus=true
  }}
  <button class="c-btn c-btn--primary u-border-square">Search</button>
</form>