<form class="u-flex u-bc-white u-border u-border-fat u-rounded u-border-color-teal" {{action search query on='submit'}}>
  <label class="u-flex-auto u-flex u-items-center">
    <span class="u-cursor-text">{{fa-icon "search" class='u-px2 u-tc-secondary'}}</span>
    {{input
      type="text"
      class="u-pr1 u-pl0 u-mr0 u-border-none"
      placeholder="title:cancer AND description:lung"
      value=query
      autofocus=true
    }}
  </label>
  {{! TODO: custom button }}
  <button class="c-btn c-btn-primary u-border-square u-self-stretch">Search</button>
</form>
