<form class="flex bc-white border-left border-right" {{action search query on='submit'}}>
  <label class="flex-grow flex items-center">
    <span class="cursor-text">{{fa-icon "search" class='px3 fc-secondary'}}</span>
    {{input
      type="text"
      class="pr2 pl0 border-none"
      placeholder="title:cancer AND description:lung"
      value=query
      autofocus=true
    }}
  </label>
</form>
