<div class="search-container">
  <div class="navbar-search">
    <form {{action 'search' on='submit'}}>
      {{fa-icon "search"}}
      {{input
        type="text"
        class="unfocus-grey-text"
        placeholder="title:cancer AND description:lung OR tumor tag: RNAseq"
        value=query
      }}
      <button class="btn">Search</button>
    </form>
  </div>
  {{#link-to 'help.searching-for-data'}}<p class="helper-text">How to write advanced search queries?</p>{{/link-to}}
</div>
