<div class="grid__col grid__col--1-of-2 grid__col--centered">
<form class="u-ta-center u-border" {{action search query on='submit'}}>
    {{fa-icon "search"}}
    {{input
      type="text"
      class="unfocus-grey-text u-p2 u-mr0"
      placeholder="title:cancer AND description:lung"
      value=query
      autofocus=true
    }}
    <button class="c-btn c-btn--primary">Search</button>
  </form>
</div>