{{#modal-dialog
  close="toggleSignupModal"
  targetAttachment="left"
  translucentOverlay=true
}}

<div class="modal">
  <span class="close-button large-text" {{action "toggleModal"}}>{{fa-icon "times"}}</span>
  <div class="modal-content center-align">
    <h2>Please signup to favourite this dataset.</h2>
  </div>
  <div class="modal-footer center-align">
    {{#link-to 'users.signup' class="btn center teal btn-light modal-action modal-close"}}Create Free Account{{/link-to}}
    <!-- <button {{action "toggleModal"}} class="btn center teal btn-light modal-action modal-close waves-effect">Create Free Account</button> -->
  </div>
</div>

{{/modal-dialog}}
