{{#link-to 'datasources.source' source.id classNames="feed-item-component"}}
  <main class="col m12">
    <div class="card dataset card-comp">

      <section class="card-type-section col m2">
        {{fa-icon "database" class='light-icon'}}
        <p>Data Source</p>
      </section>

      <section class="card-user-section col m3">
        <div class="data-title">
          {{#if source.properties.logo}}
            <img src={{source.properties.logo}} height="35px">
          {{/if}}
          <h4 class="data-title">{{source-name-fallback model=source}}</h4>
        </div>
      </section>

      <section class="card-content-section source-text col m7">
        {{collection-summary-fallback
          summary=source.properties.summary
          description=source.description}}
      </section>

    </div>
  </main>
{{/link-to}}
