<nav class="grey lighten-4 col m3 s12 secondNavbar card">
  <div class="nav-wrapper darken-1">
    <ul>
      <li>
      {{#if (eq active "settings")}}
        {{#link-to "users.settings" class="active"}}SETTINGS<i class="mdi-action-settings right"></i>{{/link-to}}
      {{else}}
        {{#link-to "users.settings"}}SETTINGS<i class="mdi-action-settings right"></i>{{/link-to}}
      {{/if}}
      </li>
      <li>
      {{#if (eq active "profile")}}
        {{#link-to "users.profile" class="active"}}EDIT PROFILE<i class="mdi-action-account-circle right"></i>{{/link-to}}
      {{else}}
        {{#link-to "users.profile"}}EDIT PROFILE<i class="mdi-action-account-circle right"></i>{{/link-to}}
      {{/if}}
      </li>
      <li>
      {{#if (eq active "trust")}}
        {{#link-to "users.trust" class="active"}}TRUST<i class="mdi-action-verified-user right"></i>{{/link-to}}
      {{else}}
        {{#link-to "users.trust"}}TRUST<i class="mdi-action-verified-user right"></i>{{/link-to}}
      {{/if}}
      </li>
      <li>
      {{#if (eq active "references")}}
        {{#link-to "users.references" class="active"}}REFERENCES<i class="mdi-action-redeem right"></i>{{/link-to}}
      {{else}}
        {{#link-to "users.references"}}REFERENCES<i class="mdi-action-redeem right"></i>{{/link-to}}
      {{/if}}
      </li>
    </ul>  
  </div>      
</nav>
