{{#link-to target class="u-tc-primary"}}
  <li class="o-list-inline__item u-p1 u-fs3">

    <!--If there is a left icon-->
    {{#if (eq iconPosition "left")}}
      {{#if icon}}
        {{fa-icon icon}}
      {{/if}}
    {{/if}}

    <!--Title of Tab-->
    {{title}}

    <!--Stats-->
    {{#if stats}}
      <span class="u-fw-med u-px1">{{stats}}</span>
    {{/if}}

    <!--If there is a right icon-->
    {{#if (eq iconPosition "right")}}
      {{#if icon}}
        {{fa-icon icon}}
      {{/if}}
    {{/if}}
  </li>
{{/link-to}}
