{{#link-to 'datasets.search' (query-params query=tagQuery) class="u-tc-secondary u-line-keep"}}
  {{tagText}}
{{/link-to}}
{{#if belongsToUser}}
  <span {{action 'deleteTag' tag}} class="u-tc-secondary">{{fa-icon "fa-times"}}</span>
{{/if}}
