{{#link-to 'datasets.search' (query-params query=tagQuery) class="fc-secondary u-line-keep"}}
  {{tag.properties.text}}
{{/link-to}}
{{#if belongsToUser}}
  <span {{action 'deleteTag' tag}} class="fc-secondary">{{fa-icon "fa-times"}}</span>
{{/if}}
