{{#repositive-modal
  container-class='c-modal--small'
  close=(action 'toggleTagModal')
}}
  {{repositive-modal/header
    icon='tags'
    title='Tags and Tagging'
    onClose=(action 'toggleTagModal')
  }}
  {{#repositive-modal/content}}
    <p>A tag is a keyword or label which categorises a dataset and enables it to appear with other similar
      datasets.
    </p>
    <p>Using the right tags makes it easier for others to find a dataset with related properties and allow
      browsing through similar data.
    </p>
    <div class="c-divider c-divider-light-bg"></div>
    <h4 class="u-ta-center u-tc-secondary">What makes a good tag?</h4>
    <p>Useful tags describe specific details about that dataset. Tags are microdata that you can use to
      further categorise your content. Unlike categories, tags are not heirachical and cannot have subtags.
    </p>
    <p>When writing tags, it is important to use the correct spelling and be mindful of capital and lower
      case letters. Additional characters (e.g. /;-_) should be avoided.
    </p>
    <p>Usually a tag is compromised of only one word, however in some cases two or three word tags
      can be more helpful.
    </p>
    <p>A dataset can contain an unlimited number of tags, so you can add as many as you need.</p>
  {{/repositive-modal/content}}
  {{#repositive-modal/footer}}
    Read more on {{#link-to 'help.other'}}tagging.{{/link-to}}
  {{/repositive-modal/footer}}
{{/repositive-modal}}
