{{#link-to 'datasets.search' (query-params query=tagQuery) class="u-tc-secondary u-line-keep"}}
  {{tag.properties.text}}
{{/link-to}}

{{#if belongsToUser}}
  {{#if isHovered}}
    <span {{action 'deleteTag' tag}} class="u-cursor-pointer u-tc-secondary">{{fa-icon "fa-times"}}</span>
  {{/if}}
{{/if}}
