<span class="tag">
  {{#link-to 'datasets.search' (query-params q=tag.properties.text)}}
    {{tag.properties.text}}
  {{/link-to}}
  {{#if belongsToUser}}
    <span {{action 'deleteTag' tag target=actionsService}}>{{fa-icon "fa-times"}}</span>
  {{/if}}
</span>
