{{#link-to 'datasets.search' (query-params query=tagQuery) class="u-tc-secondary"}}
  {{tag.properties.text}}
{{/link-to}}
{{#if belongsToUser}}
  <span {{action 'deleteTag' tag}} class="tag-delete">{{fa-icon "fa-times"}}</span>
{{/if}}
