<!-- Change the width and height values of typeform to suit you best -->
<div class="typeform-widget" data-url="https://repositive.typeform.com/to/pktwPz" data-text="integrated with beta signup" style="width:100%;height:500px;"></div>
