{{yield}}
<div class="comment">
  <div class="comment-header">
    <div class="dp-wrapper">
      <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
    </div>
    {{usr}}
    <h4>Elena Watson</h4>
    <span>3 months ago</span>
  </div>
  <div class="comment-body">
    <p>I published a meta-analysis of prostate cancer biomarkers based on this data, among others.See my paper here paper.com/dan-fair-13dh8.</p>
  </div>
  <div class="comment-footer">
    <ul class="list-inline">
      <li><a class="btn-upvote">Upvote<span>41</span></a></li>
      <li><a>Downvote</a></li>
      <li><a>Reply</a></li>
      <li><a>Flag</a></li>
    </ul>
  </div>
</div>
