{{yield}}
<div class="comment">
  <div class="comment-header">
    <div class="dp-wrapper">
      <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
    </div>
    {{#link-to 'user' user.username}}<h4>{{user.displayName}}</h4>{{/link-to}}
    <span>{{ago date}}</span>
  </div>
  <div class="comment-body">
    <p>{{text}}</p>
  </div>
  <!-- <div class="comment-footer">
    <ul class="list-inline">
      <li><a class="btn-upvote">Upvote<span>41</span></a></li>
      <li><a>Downvote</a></li>
      <li><a>Reply</a></li>
      <li><a>Flag</a></li>
    </ul>
  </div> -->
</div>
