{{#unless isVerified}}
  <div class="u-flex">
    <div class="u-mr1">
      {{validated-input
        label='Email Address'
        placeholder='e.g. liz@repositive.io'
        noMarkdown=true
      }}
    </div>

    <div class="u-flex u-items-center u-py1">
      {{async-button
        class="c-btn c-btn-primary u-mb2"
        default="Save"
        pending="Saving..."
      }}
    </div>
  </div>
{{else}}
  <div class="u-flex u-items-center u-justify-between u-mb1">
    <p class="u-mb0 u-fs2">Primary Email</p>
    <p class="u-tc-teal u-fw-med u-mb0 u-fs2">Your email is verified.</p>
  </div>
  <p>liz@repositive.io</p>
{{/unless}}

{{#link-to 'users.change-password' class='c-btn c-btn-secondary'}}
  Change Password
{{/link-to}}
