{{#unless credential.is_verified}}
  <div class="u-flex">
    <div class="u-mr1">
      {{validated-input
        value=credential.main_credential.email
        label='Email Address'
        placeholder='e.g. liz@repositive.io'
        noMarkdown=true
        submit=(action 'resendVerifyEmail')
      }}
    </div>

    <div class="u-flex u-items-center u-py1">
      {{async-button
        class="c-btn c-btn-primary u-mb2"
        default="Save"
        pending="Saving..."
        action=(action 'resendVerifyEmail')
        reset=true
      }}
    </div>
  </div>
{{else}}
  <div class="u-flex u-items-center u-justify-between u-mb1">
    <p class="u-mb0 u-fs2">Primary Email</p>
    <p class="u-tc-teal u-fw-med u-mb0 u-fs2">Your email is verified.</p>
  </div>
  <p>{{credential.main_credential.email}}</p>
{{/unless}}

{{#link-to 'users.change-password' class='c-btn c-btn-secondary'}}
  Change Password
{{/link-to}}
