h1, h2, h3, h4, p, li, a{
	font-family: 'Open Sans', sans-serif;
}
/*NAVIGATION*/
.navbar li{
	cursor: pointer; 
}
.navbar-right .active{
	font-weight: bold;
}
.navbar {
	padding:0 1em 0 1em;
	border-radius: 0 !important;
}
/*SEARCH PAGE*/
#search-container{
	max-width: 40%;
	margin-top: 10%;
}

/*RESULT VIEW*/
.container-result{
	margin: 1em 0 1em 0;
	padding: 0;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 1px solid #b0b0b0;
}
.result-head{
	background-color: grey;
}

