{{#if predicateOptions}}
  <h3 class='fc-secondary fs1 mb0 fw-reg'>Narrow your search</h3>
  {{#each predicateOptions as |predicateOption|}}
    <option class='fw-bold pl2'>{{predicateOption}}</option>
  {{/each}}
{{/if}}