/* ==========================================================================
   #LANDING PAGE
   Styles which are specific to the discover landing page
   ========================================================================== */

.o-main-wrapper {
  // large spacing unit === navbar height
  min-height: 900px;
  min-height: calc(100vh - #{$global-spacing-unit-large});
  min-height: -o-calc(100vh - #{$global-spacing-unit-large}); /* opera */
  min-height: -webkit-calc(100vh - #{$global-spacing-unit-large}); /* google, safari */
  min-height: -moz-calc(100vh - #{$global-spacing-unit-large}); /* firefox */
}
