/* ========================================================================
    WRAPPER SETTINGS
   ======================================================================== */

// Wrapper Classes
/* ==================================== */

.grid-wrapper {
  padding: $global-spacing-unit;
  margin-left: auto;
  margin-right: auto;
}

.grid-wrapper-stepped {
  max-width: $breakpoint-small;
  @media (  min-width: $breakpoint-medium ) { max-width: $breakpoint-medium; }
  @media (  min-width: $breakpoint-large  ) { max-width: $breakpoint-large;  }
}

.grid-wrapper-fluid {
  max-width: 1008px;
}

.has-sidebar {
  .grid-wrapper {
    @media (  min-width: $breakpoint-wide ) { margin-left: $meta-panel-width; }
    @media (  min-width: $breakpoint-huge ) { margin-left: auto; }
  }
}
