/* ========================================================================
    WRAPPER SETTINGS
   ======================================================================== */

// Wrapper Classes
/* ==================================== */

.grid-wrapper {
  max-width: 1008px;
  padding: $global-spacing-unit;
  margin: 0 auto;
}
