$datasets-number-spacing: 5px;

.dataset.dataset-notification-margin {
  margin-top: 5.5rem;
}

.create-account-notification {
  .stats {
    padding: 0;
  }

  h3 {
    margin-right: 30px;
  }

  strong {
    font-size: $h2-fontsize;
    padding: {
      left: $datasets-number-spacing;
      right: $datasets-number-spacing;
    };
  }
}

.dataset-more-info-section-wrapper {
  position: relative;
}

.create-account-call-to-action {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// disable pointer cursor on disabled links in comment section
// TODO: move to comment item component when creating one
.dataset .comment-author-link.disabled {
  cursor: text;
}
