.navbar {
  .primary-action {
    color: $color-pelorous;
  }

  .open-search-buttons {
    position: absolute;
    top: 0;
    right: 0;

    .navbar-button {
      border-left: none;

      h6 {
        line-height: 2.86rem;
        margin-top: 0;
        margin-bottom: 0;
      }

      &.button-divider {
        border-left: 1px solid $color-alto;
      }

    }
  }

  //.navbar-search {
  //  margin-left: $sidenav-width - $sidenav-horiz-padding;
  //  margin-right: $navbar-button-width * 3;
  //  border: 1px solid $color-pelorous;
  //
  //  i {
  //    border-right: 1px solid $color-pelorous;
  //    margin-right: 1rem;
  //  }
  //}
}