// special styles overwrite for share options modal
// TODO: unify while refactoring modal and style guide
.share-options-modal {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 0;
  z-index: 10000000;
}
