h1, h2, h3, h4, p, li, a{
	font-family: 'Open Sans', sans-serif;
}
/*NAVIGATION*/
.navbar li{
	cursor: pointer; 
}
.navbar-right .active{
	font-weight: bold;
}
.navbar {
	padding:0 1em 0 1em;
	border-radius: 0 !important;
}
/*SEARCH PAGE*/
#search-container{
	max-width: 40%;
	margin-top: 10%;
}

/*RESULT VIEW*/
#results-wrap{
	margin:2% 12% 2% 12%;
}
.result-container{
	margin: 1em 0 2em 0;
	padding: 0 !important;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 1px solid #b0b0b0;
}
.result-head{
	border-bottom: 1px solid #b0b0b0;
	padding: 0em 1em 0 1em;

}
.result-body{
	padding: 0.8em 1em 0 1em;
}

.result-footer{
	padding: 0.8em 1em 0 1em;
	border-top: 1px solid #b0b0b0;
}
