@import "bootstrap.less";

/*NAVIGATION*/
.navbar li{
	cursor: pointer; 
}
.navbar-right .active{
	font-weight: bold;
}
.navbar {
	padding:0 1em 0 1em;
	border-radius: 0 !important;
}
/*SEARCH PAGE*/
#search-container{
	max-width: 40%;
	margin-top: 10%;
}

/*RESULT VIEW*/
.container-card{
	border: 1px solid grey;
	margin: 1em 0 1em 0;
	padding: 0;
}
