<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 grid__col--centered">

      {{policy-tabs tab='privacy'}}

      <div class="c-card u-border-square u-p4">
        <div class="policy markdown-text">
          {{markdown-to-html markdown=(fr-markdown-file 'policies/privacy')}}
        </div>
      </div>

    </div>
  </div>
</div>
