<div class="policy">
  <p>
    Repositive Limited ("We") are committed to protecting and respecting your privacy.
  </p>
  <p>
    This policy (together with our {{#link-to 'policies' (query-params tab="terms") class="active"}}terms of use{{/link-to}}
    and any other documents referred to on it) sets out the basis on which any personal
    data we collect from you, or that you provide to us, will be processed by us. Please
    read the following carefully to understand our views and practices regarding your
    personal data and how we will treat it. By visiting <a href="http://repositive.io" target="_blank">repositive.io</a> you are
    accepting and consenting to the practices described in this policy.
  </p>
  <p>
    For the purpose of the Data Protection Act 1998 (the Act), the data controller is
    Repositive Limited of Windsor House, Station Court, Station Road, Great Shelford,
    Cambridge, CB22 5NE.
  </p>

  <h1>Information We May Collect From You</h1>

  <p>
    We may collect and process the following data about you:
  </p>
  <ul>
    <li>
      Information you give us. You may give us information about you by filling in forms
      on our site http://repositive.io (our site) or by corresponding with us by phone,
      e-mail or otherwise. This includes information you provide when you register to use
      our site, subscribe to our service, use our search functionality, submit requests
      for data, register metadata about datasets that you hold, participate in discussion
      boards or other social media functions on our site, enter a competition, promotion
      or survey and when you report a problem with our site. The information you give us
      may include your name, address, e-mail address and phone number, financial and
      credit card information, personal description and photograph, metadata describing
      datasets that you steward, descriptions of data that you want to acquire.
     </li>
     <li>
       Information we collect about you. With regard to each of your visits to our site
       we may automatically collect the following information:
     </li>
      <ul>
        <li>
          technical information, including the Internet protocol (IP) address used
          to connect your computer to the Internet, your login information, browser
          type and version, time zone setting, browser plug-in types and versions,
          operating system and platform;
        </li>
        <li>
          information about your visit, including the full Uniform Resource Locators
          (URL) clickstream to, through and from our site (including date and time);
          products you viewed or searched for; page response times, download errors,
          length of visits to certain pages, page interaction information (such as
          scrolling, clicks, and mouse-overs), and methods used to browse away from
          the page and any phone number used to call our customer service number.
        </li>
      </ul>
    <li>
      Information we receive from other sources. We may receive information about
      you if you use any of the other websites we operate or the other services we
      provide. We may also receive information about you from third-party login sites
      or networks such as ORCID, Google or LinkedIn, if you have given them your consent
      for your data to be shared. We are also working closely with third parties
      (including, for example, business partners, sub-contractors in technical, payment
      and delivery services, advertising networks, analytics providers, search
      information providers, credit reference agencies) and may receive information
      about you from them.
    </li>
  </ul>
</div>
