
    # Web Acceptable Use Policy

    This acceptable use policy sets out the terms between you and us under which you may
    access our website [repositive.io](http://repositive.io).
    This acceptable use policy applies to all users of, and visitors to, our site.

  <p>
    Your use of our site means that you accept, and agree to abide by, all the policies
    in this acceptable use policy, which supplement our
    {{#link-to 'policies' (query-params tab="terms") class="active"}}terms of website use{{/link-to}}.
  </p>
  <p>
    <a href="http://repositive.io" target="_blank">repositive.io</a> is a site operated by
    Repositive Limited ("We"). We are a Limited Company registered in England and Wales under
    company number 08820538 and have our registered office at Windsor House, Station Court,
    Station Road, Great Shelford, Cambridge, CB22 5NE. Our trading address is The Future Business
    Centre, King’s Hedges Road, Cambridge, CB4 2HY. Our VAT number is 184453100.
  </p>

  <h1>Prohibited Uses</h1>
  <p>
    You may use our site only for lawful purposes. You may not use our site:
  </p>
  <ul>
    <li>
      In any way that breaches any applicable local, national or international law or
      regulation.
    </li>
    <li>
      In any way that is unlawful or fraudulent, or has any unlawful or fraudulent
      purpose or effect.
    </li>
    <li>
      For the purpose of harming or attempting to harm minors in any way.
    </li>
    <li>
      To send, knowingly receive, upload, download, use or re-use any material which
      does not comply with our content standards.
    </li>
    <li>
      To transmit, or procure the sending of, any unsolicited or unauthorised
      advertising or promotional material or any other form of similar solicitation (spam).
    </li>
    <li>
      To knowingly transmit any data, send or upload any material that contains viruses,
      Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other
      harmful programs or similar computer code designed to adversely affect the operation
      of any computer software or hardware.
    </li>
  </ul>
  <p>
    You also agree:
  </p>
  <ul>



  </ul>
