<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--8-of-12 grid__col--centered">

      {{policy-tabs tab='web'}}

      <div class="c-card square p5">
        <div class="u-markdown-formatting">
          {{markdown-to-html markdown=(fr-markdown-file 'policies/web')}}
        </div>
      </div>

    </div>
  </div>
</div>
