/* ========================================================================
    #COLOR - CUSTOM UTILITIES
   ======================================================================== */

.u-bc-pink        { background-color: $froly;               }
.u-bc-purple      { background-color: $amythest;            }
.u-bc-deep-purple { background-color: $lilac-bush;          }
.u-bc-indigo      { background-color: $sapphire;            }
.u-bc-light-blue  { background-color: $dodger-blue;         }
.u-bc-cyan        { background-color: $turquoise-blue;      }
.u-bc-green       { background-color: $fruit-salad;         }
.u-bc-light-green { background-color: $light-green;         }
.u-bc-lime        { background-color: $lime;                }
.u-bc-amber       { background-color: $amber;               }
.u-bc-orange      { background-color: $orange;              }
.u-bc-deep-orange { background-color: $deep-orange;         }
.u-bc-brown       { background-color: $brown;               }

/*
  UI COMPONENTS
*/

.bc-collection { background-color: $color-collection; }
.bc-datasource { background-color: $color-datasource; }
.bc-light-bluegrey { background-color: $color-light-bluegrey; }


.u-bc-overlay-light-bluegrey { background-color: transparentize($color-light-bluegrey, .1); }
.u-bc-overlay-light-grey { background-color: transparentize($color-light-grey, .1); }
.u-bc-overlay-white { background-color: transparentize($color-white, .1); }
