<div class="row no-margin">
  {{#each filters as |filter|}}
    {{# if filter.value }}
      {{ filter.name }}
      {{ filter.value }}
    {{/if}}
  {{/each}}
</div>
<div class="row">
  {{# each model as |dataset|}}
    {{partial 'datasets/card' dataset=dataset}}
  {{/ each }}
</div>

{{#if isModalShown}}
  {{#md-modal action="closeModal"}}
  <div class="modal-content center-align">
    <img src="/assets/images/icons/work-in-progress.png" alt="Logo" class="social-media-icon"/>
  <!-- <img class="social-media-icon" src="/assets/images/icons/work-in-progress.png"/> -->
    <h2>We are still working hard.</h2>
    <h5>This feature will be available very soon. Please, do not leave us.</h5>
  </div>
  <div class="modal-footer center-align">
    <a {{action "toggleModal"}} class="modal-action modal-close waves-effect">OK</a>
  </div>
  {{/md-modal}}
{{/if}}
