<div class="c-card flex flex-column p5">
  <p class="self-center mb0 fs3 fw-med">Sorry, there are no matching datasets.</p>
  <p class="self-center mb5 fs3 fw-med">You can make request to ask our community for help.</p>
  {{#link-to 'datasets.request' class='self-center c-btn c-btn-primary'}}
    {{fa-icon "clipboard"}}<span class="pl2">Request Dataset</span>
  {{/link-to}}
</div>
