<div id="register-form" class="content">
  <div class="row">
    <div class="contain">
      <h5 class="subtitles-left unfocus-grey-text">Register Data</h5>
      <div class="col m12">
        <div class="card activity-card">

          <div class="card-header bg-register grey-text">
            <p class="main-dark">
              This will register a new dataset which will be visible and searchable on REPOSITIVE. By registering a dataset you let other users know about the dataset you have, help with better research or initiate collaboration.
            </p>
          </div>
          <div class="card-content center">
            <h3>Register a New Dataset</h3>
            <div class="col m6 offset-m3">
          <form {{action "addDataset" on="submit"}}>
            {{validated-input
              type="text"
              value=title
              errors=errors.title
              placeholder="Add a title for your dataset."
              action=addDataset
              lbl="Title"
            }}

            {{validated-input
              type="text"
              value=description
              errors=errors.description
              placeholder="A short description of the dataset"
              style="height:150px"
              action=addDataset
              textarea="true"
              lbl="Description"
            }}

            {{validated-input
              type="url"
              value=webURL
              errors=errors.webURL
              placeholder="A link to the dataset if available"
              action=addDataset
              lbl="URL"
            }}
            <div class="input-container">
              <button type="submit" class="btn bg-register main-dark">Register Dataset</button>
            </div>

          </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
