<div id="register-form" class="content">
  <h5 class="subtitles-left unfocus-grey-text">Register Data</h5>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h2 class="col m12 center">Do you have a data to share?</h2>
        <h4 class="color-silver-chalice-text center thin"><em>Make it visible for other researchers.</em></h4>
      </div>

      <div class="row">
        {{!-- <div class="divider"></div> --}}
        <div class="col m5 steps-how-to sub-grey">
          <h4 class="color-salmon-text margin-bottom">How to register dataset?</h4>
          <div><span class="numb col m2 color-salmon-text">1</span><p> Fill in the simple registration form. Add the title, description and url link to the dataset.</p></div>
          <div><span class="numb col m2 color-salmon-text">2</span><p> We will list your dataset on the platform and it will become searchable for other users.</p></div>
          <div><span class="numb col m2 color-salmon-text">3</span><p> By listing your dataset you can help improve research or initiate collaborations.</p></div>
        </div>

        <div class="col m6 offset-m1">
          <h4 class="col m6 color-salmon-text margin-bottom">Registation form</h4>
          <form {{action "addDataset" on="submit"}} class="side-form">
            {{validated-input
              type="text"
              value=title
              errors=errors.title
              placeholder="Add a title for your dataset."
              action=addDataset
            }}
            {{validated-input
              type="textarea"
              value=description
              errors=errors.description
              placeholder="A short description of the dataset. You can include assay type, platform used, tissue source, associated diseases and ethnicity of patients."
              action=addDataset
              textarea="true"
            }}
            {{validated-input
              type="url"
              value=webURL
              errors=errors.webURL
              placeholder="A link to the dataset if available"
              action=addDataset
            }}
            <div class="center input-container">
              <button type="submit" class="btn bg-register white-text">Register Dataset</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
