<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card p4">

        <div class="ta-center mb5">
          <h2 class="fs4 mb2">Have data to share?</h2>
          <h4 class="fw-thin fc-secondary"><em>Make it visible for other researchers</em></h4>
        </div>

        <div class="grid">
          <div class="grid__col grid__col--1-of-2">
            <h4 class="fc-red">How do I register a dataset?</h4>

            <div class="grid">

              <div class="grid__col grid__col--am grid__col--1-of-6 grid__col--s-1-of-3 grid__col--m-1-of-3 ta-right">
                <span class="fc-red fs4">1</span>
              </div>
              <div class="grid__col grid__col--am grid__col--5-of-6 grid__col--s-2-of-3 grid__col--m-2-of-3 mb2">
                <p class="mb0 pr5">Fill in the simple registration form. Add a title, description and url link to the dataset.</p>
              </div>

              <div class="grid__col grid__col--am grid__col--1-of-6 grid__col--s-1-of-3 grid__col--m-1-of-3 ta-right">
                <span class="fc-red fs4">2</span>
              </div>
              <div class="grid__col grid__col--am grid__col--5-of-6 grid__col--s-2-of-3 grid__col--m-2-of-3 mb2">
                <p class="mb0 pr5">We will list your dataset on the platform and it will become searchable for other users.</p>
              </div>

              <div class="grid__col grid__col--am grid__col--1-of-6 grid__col--s-1-of-3 grid__col--m-1-of-3 ta-right">
                <span class="fc-red fs4">3</span>
              </div>
              <div class="grid__col grid__col--am grid__col--5-of-6 grid__col--s-2-of-3 grid__col--m-2-of-3 mb2">
                <p class="mb0 pr5">By listing your dataset you can help improve research.</p>
              </div>
            </div>
          </div>

          <div class="grid__col grid__col--1-of-2">
            <h4 class="fc-red">Registration form</h4>
            <form>
              {{validated-input
                label="Dataset Title"
                type="text"
                value=title
                errors=validations.attrs.title.messages
                placeholder="Add a title for your dataset."
              }}
              {{validated-input
                label="Dataset Description"
                type="textarea"
                value=description
                errors=validations.attrs.description.messages
                placeholder="A short description of the dataset. You can include assay type, platform used, tissue source, associated diseases and ethnicity of patients."
              }}
              {{validated-input
                label="Dataset URL"
                type="url"
                value=url
                errors=validations.attrs.url.messages
                placeholder="A link to the dataset if available"
              }}
              {{async-button
                class="c-btn c-btn-primary c-btn-large"
                action=(action 'addDataset')
                default="Register Dataset"
                pending="Submitting..."
                disableWhen=isInvalid
              }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
