<div class="row center">
  <h2>Make a request on dataset</h2>
  <hr class='red'/>
  <span class="helper-text">Be as specific as possible.</span>
  <div class="row">
    <form class="col s6 offset-s3" {{action "addDataset" on="submit"}}>
      <div class="row">
        <div class="input-container">
            <div class="input-field">
              <input class="validate" id="register-title" type="text" placeholder="Title of the dataset">
            </div>
            <div class="lbl">Title</div>
            <div class="input-helper">What are you looking for?</div>
        </div>
        <div class="input-container">
            <div class="input-field">
              <textarea class="validate" id="register-description" type="text" placeholder="Description of the dataset" style="height: 200px"></textarea>
            </div>
            <div class="lbl">Description</div>
            <div class="input-helper">Say something about the dataset.</div>
        </div>
      </div>
           <div class="input-container col m12">
        <button type="submit" class="btn red white-text">REQUEST A DATASET</button>
      </div>
    </form>
  </div>
</div>
