<div class="row center">
  <h2>Request a dataset</h2>
  <hr class='red'/>
  <span class="helper-text">Be as specific as possible.</span>
  <div class="row">
    <form class="col s6 offset-s3" {{action "addRequest" on="submit"}}>
      <div class="row">
        <div class="input-container">
            <div class="input-field">
              {{input type="text" placeholder="Name your request" value=title}}
            </div>
            <div class="lbl">Title</div>
            <div class="input-helper">What are you looking for?</div>
        </div>
        <div class="input-container">
            <div class="input-field">
              {{textarea type="text" placeholder="Describe the dataset you're looking for" value=description}}
            </div>
            <div class="lbl">Description</div>
            <div class="input-helper">Say something about the dataset you're after.</div>
        </div>
      </div>
           <div class="input-container col m12">
        <button type="submit" class="btn red white-text">REQUEST A DATASET</button>
      </div>
    </form>
  </div>
</div>
