<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12">
      <div class="c-card p4">
        <div class="ta-center">
          <h2 class="fs4 mb2">Can't find the data on REPOSITIVE?</h2>
          <h4 class="fw-thin"><em>Ask our community for help.</em></h4>
        </div>

        <div class="grid__col grid__col--6-of-12">
          <h4 class="fc-blue">How to make request?</h4>
          <div class="grid">

            <div class="grid__col grid__col--am grid__col--1-of-6 grid__col--s-1-of-3 grid__col--m-1-of-3 ta-left">
              <span class="fc-blue fs4">1</span>
            </div>

            <div class="grid__col grid__col--am grid__col--5-of-6 grid__col--s-2-of-3 grid__col--m-2-of-3 mb2">
              <p class="mb0 pr5 ">Fill in the request form with information about the data you are looking for.</p>
            </div>

            <div class="grid__col grid__col--am grid__col--1-of-6 grid__col--s-1-of-3 grid__col--m-1-of-3 ta-left">
              <span class="fc-blue fs4">2</span>
            </div>

            <div class="grid__col grid__col--am grid__col--5-of-6 grid__col--s-2-of-3 grid__col--m-2-of-3 mb2">
              <p class="mb0 pr5">Your request will be visible and searchable on REPOSITIVE.</p>
            </div>

            <div class="grid__col grid__col--am grid__col--1-of-6 grid__col--s-1-of-3 grid__col--m-1-of-3 ta-left">
              <span class="fc-blue fs4">3</span>
            </div>

            <div class="grid__col grid__col--am grid__col--5-of-6 grid__col--s-2-of-3 grid__col--m-2-of-3 mb2">
              <p class="mb0 pr5"> This will help you to find the data you are looking for and initiate collaborations.</p>
            </div>

          </div>
        </div>

        <div class="grid__col grid__col--6-of-12">
          <h4 class="fc-blue">Request form</h4>
          <form>
            {{validated-input
              label="Request Title"
              type="text"
              value=title
              errors=validations.attrs.title.messages
              placeholder="Name your request"
            }}
            {{validated-input
              label="Request Description"
              type="textarea"
              value=description
              errors=validations.attrs.description.messages
              placeholder="Describe the dataset you're looking for. You can include ethnicity of patients, number of samples, assay type or associated diseases."
            }}
            {{async-button
              class="c-btn c-btn-primary"
              action=(action 'addRequest')
              default="Submit Request"
              pending="Submitting..."
              disableWhen=isInvalid
            }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
