<div class="row center card">
  <h2>Make a request on dataset</h2>
  <hr class="red">
  <span class="col m8 offset-m2 helper-text">Repositive has a community of users who are willing to help you to find a dataset you are looking for. Make a request and ask for the users.</span>
  <form class="col s8 offset-s2" {{action "addRequest" on="submit"}}>
    {{validated-input
      type="text"
      value=title
      errors=errors.title
      placeholder="Name your request"
      action=addDataset
      lbl="Title"
    }}

    {{validated-input
      type="text"
      value=description
      errors=errors.description
      placeholder="Describe the dataset you're looking for"
      style="height:150px"
      action=addDataset
      textarea="true"
      lbl="Description"
    }}

    <div class="input-container col m12">
      <button type="submit" class="btn red white-text">Submit Request</button>
    </div>

  </form>
</div>
