<div class="row">
  <div class="metadata">Results: {{meta.total}}</div>
  {{#if meta.total}}
    {{# each dataset in model }}
      {{dataset-card dataset=dataset}}
    {{/ each }}
  {{else}}
   <div class="container">
    <div class="row no-margin center card">
      <div class="no-results">
        <h3><br>We have not found any search result.<br> You can make request to ask our community for help. </h3>   
      </div>
      <div class="row">
      <a href="#modalRequest" id="request-btn" class="btn modal-trigger white-text"><i class="mdi-content-content-paste"></i><span>Request Dataset</span></a>
      </div>
    </div>
    </div>
  {{/if}}
</div>
