<div class="card-side-content">
  <div id="test1" class="col s12">
    <div class="write-comment">
      <div class="dp-wrapper">
        <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
      </div>
      <div class="input-field">
        <input type="text" placeholder="write a comment">
      </div>
    </div>

    <div class="comment">
      <div class="comment-header">
        <div class="dp-wrapper">
          <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
        </div>
        <h4>Elena Watson</h4>
        <span>3 months ago</span>
      </div>
      <div class="comment-body">
        <p>I published a meta-analysis of prostate cancer biomarkers based on this data, among others.See my paper here paper.com/dan-fair-13dh8.</p>
      </div>
      <div class="comment-footer">
        <ul class="list-inline">
          <li><a href="#" class="btn-upvote">Upvote<span>41</span></a></li>
          <li><a href="#">Downvote</a></li>
          <li><a href="#">Reply</a></li>
          <li><a href="#">Flag</a></li>
        </ul>
      </div>
      <!--FIRST REPLY-->
      <div class="comment reply">
        <div class="comment-header">
          <div class="dp-wrapper">
            <img src="/assets/images/Dan.png" alt="your display picture" class="display-pic">
          </div>
          <h4>Dan Smith</h4>
          <span>3 months ago</span>
        </div>
        <div class="comment-body">
          <p>The dataset is missing detailed description about the assay used in the research. I would find this information very useful.</p>
        </div>
        <div class="comment-footer">
          <ul class="list-inline">
            <li><a href="#" class="btn-upvote">Upvote <span>13</span></a></li>
            <li><a href="#">Downvote</a></li>
            <li><a href="#">Reply</a></li>
            <li><a href="#">Flag</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="comment reply">
      <div class="comment-header">
        <div class="dp-wrapper">
          <img src="/assets/images/Christina.png" alt="your display picture" class="display-pic">
        </div>
        <h4>Christina Nicolson</h4>
        <span>3 months ago</span>
      </div>
      <div class="comment-body">
        <p>Hi Elena, I updated the description with categories included in the dataset i.e. DNA seq and DNA array.</p>
      </div>
      <div class="comment-footer">
        <ul class="list-inline">
          <li><a href="#" class="btn-upvote">Upvote <span>22</span></a></li>
          <li><a href="#">Downvote</a></li>
          <li><a href="#">Reply</a></li>
          <li><a href="#">Flag</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
