{{attribute-list
    addAttribute=(action 'addAttribute')
    attributeActions=(filter-by "type" "attribute" model.actionableId.actions)
    attributesFromDataset=model.properties.attributes
}}

<div class="u-border-top">
  <h4 class="u-mb0 u-fs2 u-fw-med u-tc-tertiary">Contributors</h4>
  {{user-preview user=model.userId}}
</div>
