<div class="card-side-content">
  <div class="col s12">
    {{#if session.isAuthenticated}}
      {{add-comment addComment=(action 'addComment') avatar=session.authenticatedUser.userProfile.avatar}}
    {{/if}}
    {{#each commentsSorted as |comment|}}
      {{user-comment
        user=comment.userId
        text=comment.properties.text
        date=comment.createdAt
        avatar=comment.userId.userProfile.avatar
        disabled=(not session.isAuthenticated)
      }}
      <div class="divider"></div>
    {{/each}}
  </div>
</div>
