<div class="card-side-content">
  <div id="test1" class="col s12">
    <div class="write-comment">
      <div class="dp-wrapper">
        <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
      </div>
      <div class="input-field">
        {{add-comment placeholder="write a comment" addComment="addComment"}}
      </div>
    </div>
    {{#each comment in dataset.comments}}
      <p>
        {{comment.text}}
      </p>
      <!-- {{user-comment user='user.name' text='comment.text' date='comment.date'}} -->
    {{/each}}

  </div>
</div>
