<div class="card-side-content">
  <div class="col s12">
    {{add-comment addComment=(action 'addComment') avatar=session.authenticatedUser.userProfile.avatar}}
    {{#each commentsSorted as |comment|}}
      {{user-comment user=comment.userId text=comment.properties.text date=comment.createdAt avatar=comment.userId.userProfile.avatar}}
      <div class="divider"></div>
    {{/each}}
  </div>
</div>
