<div class="card-side-content">
  <div class="col s12">
    {{add-comment addComment="addComment" avatar=avatar action="initAvatar"}}
    {{#each comments as |comment|}}
      {{user-comment user=comment.user text=comment.text date=comment.createdAt action="initAvatar"}}
    {{/each}}
  </div>
</div>
