<div class="card-side-content">
  <div class="col s12">
    {{add-comment
      addComment=(action 'addComment')
      avatar=(
        if session.isAuthenticated
          session.authenticatedUser.userProfile.avatar
          '/assets/images/avatar/bear.png'
      )
      placeholder=(
        if session.isAuthenticated
          'Share your thoughts or ask more questions about the data.'
          'You can add comment and be part of the discussion. Just create your account using your name and email and you are free to go :)'
      )
      disabled=(not session.isAuthenticated)
    }}
    {{#each commentsSorted as |comment|}}
      {{user-comment
        user=comment.userId
        text=comment.properties.text
        date=comment.createdAt
        avatar=comment.userId.userProfile.avatar
        disabled=(not session.isAuthenticated)
      }}
      <div class="divider"></div>
    {{/each}}
  </div>
</div>
