<div class="row no-margin">
  <span class="align-left col m3">Tag: {{tag}}</span>
  {{!assay-key model}}
</div>
<div class="row">
  {{# each dataset in model }}
    {{partial 'datasets/card' dataset=dataset}}
  {{/ each }}
</div>
