<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card u-p3">

        <div class="u-ta-center u-mb4">
          <h2>Unfollow</h2>
        </div>

      </div>
    </div>
  </div>
</div>
