///* ========================================================================
//   COLORS
//   ======================================================================== */

// Named Hex Values - http://chir.ag/projects/name-that-color/
/* ==================================== */

$pelorous:        #45afb6;
$sunglo:          #e57373;
$golden-tainoi:   #ffc861;

$cerulean:        #039be5;

$wild-sand:       #f5f5f5;
$alto:            #e0e0e0;
$grey:            #808080;
$dove-grey:       #616161;
$tundora:         #494949;

// Assigned Colours
/* ==================================== */

$color-primary-teal:    $pelorous;
$color-primary-red:     $sunglo;
$color-primary-yellow:  $golden-tainoi;

$color-secondary-blue:  $cerulean;

$color-white:           #ffffff;
$color-off-white:       $wild-sand;
$color-very-light-grey: $alto;
$color-light-grey:      $grey;
$color-mid-grey:        $dove-grey;
$color-dark-grey:       $tundora;
$color-black:           #000000;
