///* ========================================================================
//   COLORS
//   ======================================================================== */

// Named Hex Values - http://chir.ag/projects/name-that-color/
/* ==================================== */

$pelorous:        #45afb6;
$sunglo:          #e57373;
$golden-tainoi:   #ffc861;

$havelock-blue:   #4a90e2; // Request colour
$storm-gray:      #686983; // base colour for side-panel component
$lynch:           #607d8b;

$half-baked:      #7bc8cd;
$mandys-pink:     #f1b4b4;
$navajo-white:    #ffe3ae;

$alabaster:       #fcfcfc;
$wild-sand:       #f4f4f4;
$alto:            #e0e0e0;
$grey:            #808080;
$dove-grey:       #616161;
$tundora:         #494949;

$porcelain:       #eceff1;

// ===== Assays =====
$web-orange:     #ffa500; // primary orange
$lilac-bush:     #9575cd; // primary purple
$salmon:         #f77;    // Register colour
$fruit-salad:    #4caf50; // Green base (success)
$bittersweet:    #ff6460; // Red invalid error messages (warning)
$dodger-blue:    #29b6f6;
$sapphire:       #3949ab;
$froly:          #f06292;
$turquoise-blue: #4dd0e1;
$amythest:       #ab47bc;
$lime:           #cddc39;
$light-green:    #8bc34a;
$amber:          #ffc107;
$orange:         #ff9800;
$deep-orange:    #ff5722;
$brown:          #795548;
$grey:           #9e9e9e;

// ===== Flash Messages =====
// Success
$ottoman:        #edfaf1;
$killarney:      #2c683f;

// Warning
$pippin:         #ffe3e3;
$tamarillio:     #921515;

// Info
$apricot-white:  #fffdec;
$chelsea-gem:    #996e00;

// Social Media colors
$linkedin-blue: #0086bd;
$twitter-blue: #55acee;

// Assigned Colours
/* ==================================== */

$color-primary-teal:    $pelorous;
$color-primary-red:     $sunglo;
$color-primary-yellow:  $golden-tainoi;

$color-secondary-blue:  $havelock-blue;

$color-light-teal:      $half-baked;
$color-light-red:       $mandys-pink;
$color-light-yellow:    $navajo-white;

$color-collection:      $lynch;
$color-datasource:      $storm-gray;

$color-white:           #ffffff;
$color-i-cant-believe-its-not-white: $alabaster;
$color-off-white:       $wild-sand;
$color-very-light-grey: $alto;
$color-light-grey:      $grey;
$color-mid-grey:        $dove-grey;
$color-dark-grey:       $tundora;
$color-black:           #000000;
$color-overlay:         rgba(#000000, 0.1);

$color-light-bluegrey:  $porcelain;
