<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--11-of-12 grid__col--centered">

      {{collections-list-tabs stats=model.stats active='datasources'}}
      <div class="c-card u-border-square p5">
        {{#each (sort-by "name" model.datasources) as |source|}}
          {{source-feed-item source=source}}
        {{/each}}
      </div>

    </div>
  </div>
</div>
