{{collections-list-tabs stats=model.stats}}

<main class="card no-margin">
  <div class="card-content">
    <div class="row">
      {{#each model.datasources as |source|}}
        {{source-feed-item source=source toggleModal="toggleModal"}}
      {{/each}}
    </div>
  </div>
</main>
