{{collections-list-tabs stats=model.stats}}

<main class="row">
  <div class="col m12">

    <div class="card no-margin">
      <div class="card-content">
        <div class="card-body">
          {{#each model.datasources as |source|}}
            {{source-feed-item source=source toggleModal="toggleModal"}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</main>
