<main class="row">
  <div class="col m12">
    <header class="center-align">
      <h1>Datasources</h1>
    </header>
    {{#each model as |source|}}
      {{source-feed-item source=source toggleModal="toggleModal"}}
    {{/each}}
  </div>
</main>
