<main class="contain">
  {{source-meta-panel collectionStats=collectionStats model=model.source datasets=model.datasets}}

  <div class="content push-right">
    <div class="row">
      <div class="col m12">
        {{#each model.datasets as |dataset|}}
          {{dataset-card dataset=dataset action="toggleModal"}}
        {{/each}}
      </div>
    </div>
  </div>
</main>
