{{source-meta-panel
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  type=model.collection.type
  datasets=model.datasets}}

<div class="content push-right">
  {{#unless isLoading}}
    {{search-results-list results=model.datasets}}
    {{#if (gt model.collectionStats.datasets 0)}}
      <div class="pagination-container">
        {{pagination-bar
          currentPageNumber=page
          resultsPerPage=limit
          totalResults=model.collectionStats.datasets
          currentOffset=offset
          nextPage=(action 'nextPage')
          previousPage=(action 'previousPage')
        }}
      </div>
    {{/if}}
  {{/unless}}
</div>
