& {
  background-color: mix($color-pelorous, $color-white, 20);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 66px;
  left: 0;
  position: fixed;
  top: $navbar-height;
  width: 100vw;
  z-index: 1;
}
