<h3 class="u-mr3 u-mb2 u-tc-secondary">Search through <strong class="u-pl1 u-pr1 u-fs4">{{datasetsNumber}}</strong> human genomic datasets</h3>
{{#link-to 'root' class='c-btn c-btn-primary' invokeAction=(action 'trackLinkEvent')}}
  Search now
{{/link-to}}
