<section class="col m12">
  <div class="card center">
    <div class="card-content">
      <h3>Oops, something went wrong with your search query.</h3>
      <h3>Try again or redefine your query.</h3>
      <div class="margin-top">
        <img src="/assets/images/liz-confused.png" alt="liz-confused-error" class="responsive-img">
      </div>
    </div>
  </div>
</section>
