<div class="grid-wrapper grid-wrapper-fluid">
  <section class="u-ta-center u-pt3">
    <p class="u-mb0 u-fs3 u-fw-reg">Oops, something went wrong with your search query.</p>
    <p class="u-fs3 u-fw-reg">Try again or redefine your query.</p>
    <img src="/assets/images/liz-confused.png" alt="liz-confused-error" class="u-w4">
  </section>
</div>
