<div class="grid-wrapper grid-wrapper-fluid">
  <section class="ta-center pt4">
    <p class="mb0 fs3 u-fw-reg">Oops, something went wrong with your search query.</p>
    <p class="fs3 u-fw-reg">Try again or redefine your query.</p>
    <img src="/assets/images/liz-confused.png" alt="liz-confused-error" class="u-w4">
  </section>
</div>
