{{#each userAttributes as |attribute|}}
  {{validated-input
    label=attribute.label
    value=(mut (get this attribute.userAttributeKey))
    submit=(action 'save')
    errors=(v-get this attribute.userAttributeKey 'messages')
    type=(if attribute.multiline 'textarea' 'text')
    placeholder=attribute.placeholder
    noMarkdown=true
  }}
{{/each}}
<div class="ta-center">
  {{rui/r-async-button
    action=(action 'save')
    default="Save Changes"
    disableWhen=(not validations.isValid)
    pending="Saving..."
    reset=true
    size="big"
    variant="primary" 
  }}
</div>
