<div class="grid-wrapper grid-wrapper-stepped">
  <section class="grid">

    <div class="grid__col grid__col--3-of-3 u-ta-center">
      <h1 class="u-fs4 u-tc-secondary">Change Password</h1>
    </div>

    {{#unless passwordChanged}}

      <div class="grid__col grid__col--5-of-12 grid__col--m-2-of-3 grid__col--centered">
        {{change-password-form}}
      </div>

    {{else}}

      <div class="grid__col grid__col--3-of-3 u-flex u-items-center u-flex-column">
        <h2 class="u-tc-tertiary u-ta-center">Your password has been successfully changed.</h2>
        <img src="/assets/images/liz-happy.png" class="u-mb3 u-w4">
        {{#link-to 'users.login' class="c-btn c-btn-primary u-fs3"}}Continue to Login{{/link-to}}
      </div>

    {{/unless}}
  </section>
</div>
