<div class="grid-wrapper grid-wrapper-stepped">
  <section class="grid">
    <div class="grid__col grid__col--3-of-3 ta-center">
      <h1 class="fs4 fc-secondary">Change Password</h1>
    </div>

    <div class="grid__col grid__col--5-of-12 grid__col--m-2-of-3 grid__col--centered">
      {{change-password-form
        email=model.main_credential.email
        transitionToProfile=(route-action 'transitionToProfile')}}
    </div>
  </section>
</div>
