{{sub-navigation active="references"}}
  <div class="row">
    <div class="col m12 center-align">
      <div class="card white no-margin darken-1">
        <div class="card-content">
          <span class="card-title">
          <h1>References</h1>
          </span>
          <hr class="yellow">
          <p class="helper-text">Increase your credibility by having references.</p>
        </div>
        <div class="card-action">
          <form class="row">
            <div class="input-container col m6 offset-m2">
              <div class="input-field">
                <input id="email" type="text" placeholder="Email">
              </div>
              <div class="lbl">Email</div>
            </div>
            <button class="btn col m2 waves-effect waves-light" type="submit" name="action" style="margin-top:0.5em">Send request</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col m12 center-align">
      <div class="card white darken-1">
        <div class="card-content">
          <span class="card-title">
            <h1>Endorsements</h1>
          </span>
          <hr class="yellow">
        </div>
      </div>
    </div>
  </div>
