<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card card-content">
        <header>
          <h2>Reset your password</h2>
        </header>

        <section class="container-login">
          <form {{action "submitForm" on="submit"}}>
          {{#each messages as |message|}}
            <div class="message {{message.type}}">{{message.text}}</div>
          {{/each}}
            {{validated-input
              type="email"
              lbl="Email"
              value=email
              errors=errors.email
              placeholder="Your email"
              formSubmitted=formSubmitted
            }}
            <div class="input-container">
              {{#full-width-button
                class="teal {{#if buttonDisabled 'disabled'}}"
                type="submit"}}SEND LINK{{/full-width-button}}
            </div>
          </form>
        </section>

      </div>
    </div>
  </div>
</div>
