
  <div class="row">
    {{sub-navigation active="settings"}}
    <div class="content-view right col m9">
       <div class="card white darken-1 center-align">
        <div class="card-content">
          <span class="card-title">
            <h5>Privacy settings</h5>
          </span>
          <hr class="red">
          <p class="helper-text">Choose what information can others see in your profile</p>
        </div>
        <div class="card-action">
          <form action="#">
            <div class="col m6">
              <input class="with-gap" name="privacy" type="radio" id="test1">
              <label for="test1" class="helper-text">Minimal</label>
            </div>
            <div class="col m6">
              <input class="with-gap" name="privacy" type="radio" id="test2" checked="">
              <label for="test2" class="helper-text">Public</label>
            </div>
          </form>
        </div>
      </div>
      <div class="center-align">
        <div class="card white darken-1">
          <div class="card-content">
            <span class="card-title">
              <h5>Notifications</h5>
            </span>
            <hr class="red">
            <p class="helper-text">Select when would you like to be notified by email</p>
          </div>
          <div class="card-action">
            <div class="col m12">
              <form action="#">
                <p>
                <input type="checkbox" id="test5" checked="checked">
                <label for="test5" class="helper-text">I receive a message in my inbox</label>
                </p>
                <p>
                <input type="checkbox" id="test6">
                <label for="test6" class="helper-text">Someone comments on a dataset I posted</label>
                </p>
                <p>
                <input type="checkbox" id="test7">
                <label for="test7" class="helper-text">Tips and important updates about REPOSITIVE features are available</label>
                </p>
                <p>
                <input type="checkbox" id="test8">
                <label for="test8" class="helper-text">There are new suggestions for datasets based on my request (weekly)</label>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

