<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      {{profile-tabs}}

      <div class="c-card u-rounded-bottom u-p1">
        <div class="u-ta-center">
          <h1 class="u-fs4">Notifications</h1>
          <h3 class="u-fs3 u-tc-tertiary"><em>We are working on this feature. Stay tuned!</em></h3>
        </div>

        <div class="u-pos-relative u-py4">
          <form action="#">
            <div class="u-flex u-items-center u-px2">
              <input class="u-mr3" id="notificationsMessage" type="checkbox" checked="checked" onclick="return false">
              <label for="notificationsMessage" class="helper-text">Another user sends me a message.</label>
            </div>

            <div class="u-flex u-items-center u-px2">
              <input class="u-mr3" id="notificationsComments" type="checkbox" onclick="return false">
              <label for="notificationsComments" class="helper-text">Someone comments on a dataset I posted.</label>
            </div>

            <div class="u-flex u-items-center u-px2">
              <input class="u-mr3" id="notificationsUpdates" type="checkbox" onclick="return false">
              <label for="notificationsUpdates" class="helper-text">Tips and important updates about Repositive.</label>
            </div>

            <div class="u-flex u-items-center u-px2">
              <input class="u-mr3" id="notificationsSuggestions" type="checkbox" onclick="return false">
              <label for="notificationsSuggestions" class="helper-text">Suggestions for datasets based on my search history.</label>
            </div>
          </form>

          <div class="u-ta-center c-overlay u-bc-overlay-white u-pos-top0 u-pos-left0">
            <img class="u-w4" src="/assets/images/lizard-working-hard.png">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
