{{sub-navigation active="settings"}}
  <div class="row">
    <div class="col m12">
      <div class="card white darken-1">
        <div class="card-content">
          <div class="card-title center-align">
            <h1>Notifications</h1>
            <hr class="yellow">
          <p class="helper-text">Select when you would like to recieve email notifications.</p>
          </div>
          {{!-- <hr class="yellow"> --}}
          </div>
          <div class="card-action">
            <form action="#">
              <input id="notificationsMessage" type="checkbox" checked="checked">
              <label for="notificationsMessage" class="helper-text">Another user sends me a message.</label>
              <br>
              <input id="notificationsComments" type="checkbox">
              <label for="notificationsComments" class="helper-text">Someone comments on a dataset I posted.</label>
              <br>
              <input id="notificationsUpdates" type="checkbox">
              <label for="notificationsUpdates" class="helper-text">Tips and important updates about Repositive.</label>
              <br>
              <input id="notificationsSuggestions" type="checkbox" >
              <label for="notificationsSuggestions" class="helper-text">Suggestions for datasets based on my search history.</label>
              <br>
            </form>
          </div>
        </div>
    </div>
  </div>
