{{sub-navigation active="settings"}}
  <div class="row settings-page">
    <div class="col m12">
      <div class="card white no-margin darken-1">
        <div class="card-content">
          <div class="card-title center-align">
            <h1>Notifications</h1>
            <hr class="yellow">
            <h3 class="helper-text thin"><em>We are working on this feature. Stay tuned!</em></h3>
          </div>
          {{!-- <hr class="yellow"> --}}
          </div>
          <div class="card-action">
            <form action="#" class="opaque">
              <input id="notificationsMessage" type="checkbox" checked="checked" onclick="return false">
              <label for="notificationsMessage" class="helper-text">Another user sends me a message.</label>
              <br>
              <input id="notificationsComments" type="checkbox" onclick="return false">
              <label for="notificationsComments" class="helper-text">Someone comments on a dataset I posted.</label>
              <br>
              <input id="notificationsUpdates" type="checkbox" onclick="return false">
              <label for="notificationsUpdates" class="helper-text">Tips and important updates about Repositive.</label>
              <br>
              <input id="notificationsSuggestions" type="checkbox" onclick="return false">
              <label for="notificationsSuggestions" class="helper-text">Suggestions for datasets based on my search history.</label>
              <br>
            </form>
            <img src="assets/images/lizard-working-hard.png" class="responsive-img action-image">
          </div>
        </div>
    </div>
  </div>
