  <div class="row">
    {{sub-navigation active="trust"}}
   <div class="col s12 m9 center-align trustPage">
        <div class="card white darken-1">
          <div class="card-content">
            <span class="card-title">
              <h5>Trust & Verification</h5></span>
              <hr class="yellow">
              <p class="helper-text">Build your trust by verifying your email</p>
            </div>
                <div class="row">
                  <form>
                  <div class="input-container col m6 offset-m3">
                            <div class="input-field">
                              <input id="email" type="text" placeholder="Email">
                            </div>
                            <div class="lbl">Email</div>
                          </div>  
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Verify
                  </button>
                  </form>
                </div>   
          </div>
        </div>
        <div class="col s12 m9 trustPage right">
          <div class="card white darken-1">
            <div class="card-content center-align">
              <span class="card-title">
                <h5>3rd Party Verification</h5></span>
                <hr class="yellow">
                <p class="helper-text">Improve your trust level by verifying other channels</p>
              </div>
             <div class="row">
                <div class="col m12">
                  <div class="row">
                  <h4>Google</h4>
                  <p class="helper-text left"> Connect your REPOSITIVE account to your Google account.</p>
                  <button class="btn right waves-effect waves-light" type="submit" name="action">Verify
                  </button>
                  </div>
                  <div class="row">
                  <h4>LinkedIn</h4>
                  <p class="helper-text left"> Connect your REPOSITIVE account to your LinkedIn account.</p>
                  <button class="btn right waves-effect waves-light" type="submit" name="action">Verify
                  </button>
                  </div>
                  <div class="row">
                  <h4>Facebook</h4>
                  <p class="helper-text left"> Connect your REPOSITIVE account to your LinkedIn account.</p>
                  <button class="btn right waves-effect waves-light" type="submit" name="action">Verify
                  </button>
                  </div>
                  <div class="row">
                  <h4>Orcid</h4>
                  <p class="helper-text left">Connect your REPOSITIVE account to your Orcid account.</p>
                  <button class="btn waves-effect right waves-light" type="submit" name="action">Verify
                  </button>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
