{{sub-navigation active="trust"}}
  <div class="row">
    <div class="col m12">
      <div class="card white darken-1">
        <div class="card-content center-align">
          <h1>Trust & Verification</h1>
          <hr class="yellow">
          <p class="helper-text">Build your trust by verifying your email</p>
        </div>
        <div class="card-action">
          <form class="row">
            <div class="input-container col m6 offset-m3">
              <div class="input-field">
                <input id="email" type="text" placeholder="Email">
              </div>
              <div class="lbl">Email</div>
            </div>
            <button class="btn waves-effect waves-light col m1" type="submit" name="action" style="margin-top:0.5em">Verify</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col m12">
      <div class="card white darken-1">
        <div class="card-content center-align">
          <span class="card-title"><h1>3rd Party Verification</h1></span>
          <hr class="yellow">
          <p class="helper-text">Improve your trust level by verifying other channels</p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col m6 offset-m3">
              <h3>Google</h3>
              <p class="helper-text left"> Connect your REPOSITIVE account to your Google account.</p>
            </div>
            <button class="btn waves-effect waves-light col m1" type="submit" name="action" style="margin-top:0.5em">Verify</button>
          </div>
          <div class="row">
            <div class="col m6 offset-m3">
              <h3>LinkedIn</h3>
              <p class="helper-text left"> Connect your REPOSITIVE account to your LinkedIn account.</p>
            </div>
            <button class="btn waves-effect waves-light col m1" type="submit" name="action" style="margin-top:0.5em">Verify</button>
          </div>
          <div class="row">
            <div class="col m6 offset-m3">
              <h3>Facebook</h3>
              <p class="helper-text left"> Connect your REPOSITIVE account to your LinkedIn account.</p>
            </div>
            <button class="btn waves-effect waves-light col m1" type="submit" name="action" style="margin-top:0.5em">Verify</button>
          </div>
          <div class="row">
            <div class="col m6 offset-m3">
            <h3>Orcid</h3>
              <p class="helper-text left">Connect your REPOSITIVE account to your Orcid account.</p>
            </div>
            <button class="btn waves-effect waves-light col m1" type="submit" name="action" style="margin-top:0.5em">Verify</button>
          </div>
        </div>
      </div>
    </div>
  </div>
