<div class="grid-wrapper">
  <div class="grid">
{{sub-navigation active="settings"}}
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card u-p1 u-mb3">
         <div class="card-title center-align">
            <h1 class="fs4 u-ta-center">Notifications</h1>
            <h3 class="fs3 u-tc-tertiary u-ta-center"><em>We are working on this feature. Stay tuned!</em></h3>
          </div>
          <div class="card-action">
            <form action="#" class="opaque">
              <input id="notificationsMessage" type="checkbox" checked="checked" onclick="return false">
              <label for="notificationsMessage" class="helper-text">Another user sends me a message.</label>
              <br>
              <input id="notificationsComments" type="checkbox" onclick="return false">
              <label for="notificationsComments" class="helper-text">Someone comments on a dataset I posted.</label>
              <br>
              <input id="notificationsUpdates" type="checkbox" onclick="return false">
              <label for="notificationsUpdates" class="helper-text">Tips and important updates about Repositive.</label>
              <br>
              <input id="notificationsSuggestions" type="checkbox" onclick="return false">
              <label for="notificationsSuggestions" class="helper-text">Suggestions for datasets based on my search history.</label>
              <br>
            </form>
            <img src="/assets/images/lizard-working-hard.png" class="responsive-img action-image">
	    </div>
        </div>
    </div>
  </div>
</div>