<div class="container">
  <div class="row center-align">
    <div class="col m12">

      <h1>Your account is now verified</h1>

      {{#link-to 'user' currentUser.username}}<button class="btn teal white-text">Visit your Profile</button>{{/link-to}}

    </div>
  </div>
</div>
