<div class="container">
  <div class="row center-align">
    <div class="col m12">

      <h1>Your account is now verified</h1>

      {{#link-to 'root'}}<button class="btn teal white-text">Back to Home Page</button>{{/link-to}}

    </div>
  </div>
</div>
