.platform{
  form a.btn{
    box-sizing:border-box;
  }
  span.sub-input{
    margin-top:0;
    color:$unfocus-grey;
    font-size:0.7em;
    line-height:0;
  }
  //for registration modal
  .modal-content form.col.s12{
    padding-left:0;
  }
  .text-invalid{
    color:$primary-red !important;
  }
  .text-valid{
    color:$primary-teal !important;
  }

  //GENERAL INPUT
  .input-field{
    margin-bottom:0.7em;
    margin-top:0.7em;
    padding-left:0;
    padding-right:0;
    input, textarea{
      margin-bottom:0;
      margin-top:0;
      border:1px solid $border-grey;
      height:36px;
      padding-left:0.8em;
      padding-right:0.8em;
      @include border-radius(2px);
      font-weight:200;
      width:100%;
      box-sizing:border-box;
      box-shadow:none !important;
      -webkit-box-shadow:none !important;
    }
  }
  /*----END OF GENERAL INPUT---*/

  //INPUTS WITH LABELS AND HELPERS
  .input-container{
    position:relative;
    color:$unfocus-grey;
    .lbl{
      position:absolute;
      top:6px;
      left:6px;
      display:none;
      font-weight:200;
    }
    .input-helper{
      font-size:0.7em;
      line-height:1;
      position:absolute;
      top:12px;
      display:none;
    }
    i{
      position:absolute;
      top:2px;
      right:12px;
      color:$border-grey;
      font-size:1.3em;
      text-align:right;
    }
  }
  //active
  .input-container.active{
    .lbl{
      left:-110%;
      width:100%;
      text-align:right;
      display:block;
    }
    .input-helper{
      right:-110%;
      display:block;
      width:100%;
      text-align:left;
    }
    input{
      border:2px solid $border-grey;
    }
  }
  //invalid
  .input-container.invalid{
    input{
      border:2px solid $primary-red;
    }
    i, .lbl, .input-helper{
      color:$primary-red;
    }
  }
  //valid
  .input-container.valid{
    input{
      border:2px solid $primary-teal;
    }
    i, .lbl, .input-helper{
      color:$primary-teal;
    }
  }
  /*----END OF LABELS & HELPER INPUT----*/
}
/*----END OF PLATFORM----*/
