.jumbotron {
    height:100%;
    width: 100%;
    h1{
        padding-top:2em;
    }
    .helper-text{
        margin-bottom:0;
        margin-top:3em;
        line-height:1;
    }
    a.btn-large{
        margin-top:1em;
    }
    &.home-jumbo{
        background: url(../images/background-landingpage.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.about-jumbo{
        background: url(../images/bg-white-aboutpage.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.team-jumbo{
        background: url(../images/bg-white-teampage.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.jobs-jumbo{
        background: url(../images/bg-white-jobpage.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
//to adjust the jumbotron text from large phones devices
@media only screen and (max-width : 400px) {
    .jumbotron h1{
        font-size:1.8em;
        line-height:1.3;
        font-weight:400;
    }
}
//to adjust jumbotron text on regular sized phones
@media only screen and (max-width : 320px) {
    .jumbotron h1{
        font-size:1.6em;
        line-height:1.3;
        font-weight:400;
    }
}
