//All navbar related elements go here.
nav{
    padding-left:1em;
    padding-right:1em;
}
.navbar-fixed{
    position:fixed;
    top:0;
    width:100%;
}
.nav-logo{
    width:30px;
    height:30px;
    top:25%;
    position:absolute;
}
#brand-name{
    position:absolute;
    left:3em;
}
nav a.active{
    color:$primary-red !important;
    span{
        border-bottom:2px solid $primary-red;
        line-height:1.5;
        width:3px;
    }
}
.nav-button{
    margin-left:1em;
    a{
        margin-bottom:0;
    }
    &:hover{
        background-color: #f5f5f5;
    }
}
//DISPLAY PICTURE
nav .dp-wrapper{
  margin-top:0.9em;
}
//NAVBAR INPUT
.nav-input{
  right:25%;
  position:absolute;
  left:25%;
  top:-10px;
  bottom:0px;
  input{
    // height:36px;
    height: 46px !important;
    font-size:1em;
    background-color:white;
    border:1px solid $border-grey !important;
  }
  i{
    position:absolute;
    top:0;
    right:5px;
    color:$border-grey;
  }
}

//secondary navbar on settings page
nav.secondNavbar {
    font-size: 0.8em;
    height: auto;
    padding: 0 !important;
    li {
        width: 100%;
        border-bottom: 1px solid $border-grey;
        a.active {
                color: $primary-teal !important;
            }
        a {
            width: 100%;

            i {
                font-size: 1.5em;
            }
        }
    }
}

//So that the navbar works on the majority of mobile screens
@media only screen and (max-width : 400px) {
    nav .right a{
        padding-right: 0.5em !important;
        padding-left:0.5em !important;
        font-size:0.7em;
    }
}
//So that the navbar works on the majority of small tablets/oversized phones
@media only screen and (max-width : 770px) {
    nav .right a{
        padding-right: 0.5em !important;
        padding-left:0.5em !important;
        font-size:0.9em;
    }
}
@media only screen and (max-width :601px){
  nav .dp-wrapper{
    margin-top:0.7em;
  }
}
