//Put all type tag declarations here.
$head-font-stack: 'Varela Round','roboto', sans-serif;
$body-font-stack: 'roboto', sans-serif;
html{
    font-size:16px;
    font-family:$body-font-stack;
}

nav a , a.brand-logo {
    color:grey !important;
    font-family:$head-font-stack;
    font-size:1em;
    font-weight:bold;
}
h1{
	font-size:3em;
	font-weight:500;
}
h2{
	font-size:2.5em;
	font-weight:500;
	margin-bottom:0em;
	color:$primary-text;
	line-height: 1.5em;
}
h3{
	font-size:1.8em;
	font-weight:400;
  color:$primary-text;
  margin-top:0.2em;
  margin-bottom:0.2em;
  line-height:1;
}
h4{
	font-size:1.5em;
	color:$sub-text;
	font-weight:400;
	margin-top:0;
}
h5{
	font-size:1.2em;
	color:$sub-text;
	font-weight:400;
	margin-top:0;
}
p{
	font-size: 1em;
	color:$primary-text;
}
.justify{
    text-align: justify !important;
}
//used for press
p.small-text{
    font-size: 0.82em !important;
}
.helper-text{
	color:$sub-text;
	font-style:italic;
}
.sub-head{
	color:$sub-text;
	margin-bottom:3em;
	font-size:1.2em;
	width: 70%;
	margin: 0 auto;
	display: block;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	font-style:italic;
}
footer p, footer a{
    margin:0;
    font-weight:200;
}
.faq h2 {
    line-height: 1.2em;
}

// FONT SIZES FOR THE PLATFORM

.platform {
	h1 {
		font-size: 2.3em;
	}
	h2{
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	p {
		font-size: 0.8em;
	}
	.sub-head {
		font-size: 1em;
	}
}
