/* ========================================================================
    #LAYOUT SETTINGS
   ======================================================================== */

/*
  STRUCTURAL COMPONENTS WIDTHS

  'Magic Numbers' used below are selected to work nicely in a 12-col grid
  with a max-width of 960px.
*/

$sidebar-width      : 320px;
$data-card-width    : 304px;
$grid-gutter-width  : $global-spacing-unit;

/*
  BREAKPOINT DEFINITIONS

  These look complex but are quite simple: all breakpoints are defined based
  on structural component widths.

  Mobile view = 1 data-card with a gutter each side (i.e. 2 gutters)
  Tablet view = 2 data-cards with a gutters on each side of container and between data-cards (i.e. 3 gutters)
  And so on.
*/

$breakpoint-small   : $data-card-width - (2 * $grid-gutter-width);
$breakpoint-medium  : (2 * $data-card-width) + (3 * $grid-gutter-width);
$breakpoint-large   : (3 * $data-card-width) + (4 * $grid-gutter-width);
$breakpoint-wide    : $breakpoint-large + $sidebar-width;
$breakpoint-huge    : $breakpoint-large + (2 * $sidebar-width);
