<div class="grid pb2">
  {{#if isOpen}}
    <div class="grid__col grid__col--1-of-2 grid__col--am pr2">
      {{focus-input value=tag type="text" enter="addTag" placeholder="Enter tag name"}}
    </div>
    <div class="grid__col grid__col--1-of-2 grid__col--am">
      {{r-button variant="cancel" label="Cancel" clickHandler=(action "toggleInput")}}
    </div>
  {{else}}
    <div class="grid__col grid__col--3-of-3">
      {{r-button label="Add new tag" clickHandler=(action "toggleInput")}}
    </div>
  {{/if}}
</div>
