.c-pw-strength {
  background-color: $alto;
  border-radius: 100px;
  display: block;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 20px;
  width: 70px;
}

.c-pw-strength-level {
  border-radius: 100px;
  display: block;
  height: 100%;
  transition: $global-transition;
}

  .c-pw-strength-level--weak {
    background-color: $color-primary-red;
    width: 33%;
  }

  .c-pw-strength-level--medium {
    background-color: $orange;
    width: 66%;
  }

  .c-pw-strength-level--strong {
    background-color: $color-primary-teal;
    width: 100%;
  }
