/* ==========================================================================
    DIVIDER
   ========================================================================== */

.c-divider {
  height: 1px;
  overflow: hidden;
  margin-bottom: $global-spacing-unit;
}

.c-divider-vertical {
  height: 100%;
  border-left: 1px solid #e0e0e0;
}

.c-divider-dark-bg { background-color: $color-mid-grey; }

.c-divider-light-bg { background-color: $color-very-light-grey; }
