/* ==========================================================================
   #BUTTONS
   ========================================================================== */

// Button
/* ==================================== */

.c-btn {
   display: inline-block;
   margin: 0;
   text-align: center;
   vertical-align: baseline;
   cursor: pointer;
   border: none;
   border-radius: $global-border-radius;
   font: inherit;
   font-weight: 500;
   font-size: $global-font-size;
   padding: $global-spacing-unit-small $global-spacing-unit-large;
   transition: $global-transition;
}

.c-btn--primary {
  color: $color-white;
  background: $color-primary-teal; //$color-teal
}

.c-btn--secondary {
  color: $color-primary-teal;
  background-color: $color-white;
  border:1px solid $color-primary-teal;
}

.c-btn--red {
  color: $color-white;
  background-color: $color-primary-red;
}

.c-btn--blue {
  color: $color-white;
  background-color: $color-secondary-blue;
}

// When the disabled html attribute is on a button...
.c-btn:disabled {
  background-color: $color-very-light-grey;
  color: $color-light-grey;
  cursor: default;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    transform: none;
  }
}

.c-btn--shadow {
  box-shadow: 0 8px 3px -5px rgba(0, 0, 0, 0.14);

  &:hover {
    box-shadow: 0 20px 8px -15px rgba(0, 0, 0, 0.10);
    transform: translateY(-1px);
  }
}
