/* ==========================================================================
   #SIDEBAR
   ========================================================================== */

.c-sidebar {
  position: absolute;
  height: 100%;
  width: $sidebar-width;
  background-color: $color-collection;
}
