description "Repositive Backend"

start on vagrant-mounted
stop on shutdown

setuid vagrant
setgid vagrant
respawn
respawn limit 10 5

script
    cd /home/vagrant/app && PATH=$PATH:/home/vagrant/node_modules/.bin exec npm start
end script
