<div class="u-markdown-formatting fs2">
  {{markdown-to-html markdown=(fr-markdown-file filePath)}}
</div>
<div class="c-divider c-divider-light-bg"></div>
<div class="ta-center p3 mb4">
  <p class="">Do you need more help?</p>
  {{r-link-button
    href="mailto:support@repositive.io"
    label="Contact Us"
    size="big"
  }}
</div>
