<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--1-of-3 grid__col--m-1-of-2">
      <h1 class="c-inventory-header">Profile</h1>
    </div>
    <div class="grid__col grid__col--1-of-3 grid__col--m-1-of-2">
      {{user-profile-info
        user=user
        isOwnProfile=isOwnProfile
        collectionsNumber=(get (await allUserCollections) 'length')
        activitiesNumber=activitiesNumber
      }}
    </div>
  </div>
</div>

{{{ model.schema }}}
