& {
  margin: 0 auto 40px;
  width: 350px;
}

.input-field {
  margin-bottom: 15px;
}

textarea {
  height: 136px;
  resize: none;
}

// custom overwrite of global error styles
// TODO: refactor this while doing global styles rewrite
.error-text {
  width: 120px;
  right: -140px;
}

button {
  display: block;
  margin: 0 auto;
  width: 240px;
}

.success-message {
  line-height: 130%;
  margin: 75px auto;
  text-align: center;
}
