<div class="c-card">
  <header class="c-card-header bc-very-light-grey flex justify-end items-center px3">
    <ul class="flex list-flush-left pl3 mb0">
      {{action-favourite model=dataset class="mr3"}}
      {{action-share
        model=dataset
        modelType=type
        shareUrl=shareUrl
      }}
    </ul>
  </header>

  {{dataset-card/body type=type dataset=dataset}}

  {{stats-list stats=dataset.stats access=dataset.access statType="datasets" class="pb3 pl3 fc-tertiary"}}
</div>
