.filters {
  position: absolute;
  left: 0;
  padding-left: 1rem;
  width: 14%;
}
.filter-category {
  font-size: 0.8rem;
  color: $sub-text;
}
.filter-name {
  font-size: 0.8rem;
  color: $sub-text;
}
.filter-label {
  padding: 0.3rem;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8rem;
}
#filters{
    background-color:#fff;
    line-height:3rem;
    font-size:0.85rem;
    color:#666666;
    span{
        line-height:2rem;
        padding-left:1rem;
        padding-right:1rem;
        cursor:pointer;
        border-left:2px solid #e0e0e0;
    }
    span.first{
        border-left:none;
        padding-left:1rem;
    }
    span.remove{
        border-left:none;
        padding-left:0.5rem;
        padding-right:0;
        width:1rem;
        height:1rem;
        color: #e0e0e0;
        /*background-color:#fff;*/
        text-align:center;
    }
}
// changed from #ffecb3 to bold
.highlight{
  font-weight: bold;
  font-style: normal;
}
#aggregation{
    font-size: 0.85rem;
    color: $sub-text;
    .label{
        @include border-radius(2px);
        display:inline-block;
        width: 1rem;
        height: 0.55rem;
    }
    h5{
        color:#494949;
    }
}
