/*-- EMBER FLASH MESSAGES --*/
.flash_queue {
  display:inline-block;
  dl.flash_message-Success{
    background-color:#a5d6a7;
    color:#2e7d32;
    margin-left:3em;
    padding:1em 1em 1em 1em;
    @include border-radius(2px);
    border:1px solid #43a047;
    dt{
      display:none;
    }
    dd{
      margin:0;
    }
  }
  dl.flash_message-Fail{
    background-color:#ef9a9a;
    color:#b71c1c;
    margin-left:3em;
    padding:1em 1em 1em 1em;
    @include border-radius(2px);
    border:1px solid #d32f2f;
    dt{
      display:none;
    }
    dd{
      margin:0;
    }
  }
}