// HELPERS
.list-inline{
    list-style-type: none;
    margin-bottom:0.3em;
    li {
        display: inline !important;
        @include horiz-padding(0.5em);
    }
}
.uppercase{
  text-transform: uppercase;
}
textarea:focus, input:focus{
    outline: 0;
}
.link {
  color: #039be5;
}
.no-margin-top {
  margin-top: 0;
}

.relative{
  position:relative;
}

.contain{
  overflow: hidden;
}

.shadow{
  @include shadow();
}
