.verify-lizard {
  margin-left: -200px;
}
.icon{
    width: 100px;
    height: 100px;
}
.team-img{
    max-width:10em;
}
.press-img{
    max-width:80%;
}
.social-media-icon{
	width:2.8em;
    height: auto;
    vertical-align: inherit;

}
footer .social-media-icon {
    width: 1.5em;
}
.supporters {
    img {
        width: 100%;
    }
}
.profile-img {
	width: 8em;
	height: 8em;
	overflow: hidden;
	img {
		max-width: 100%;
		background-size: 100%;
	}
}
img.scale-img {
	height: 100%;
}
.dp-wrapper{
  height:36px;
  width:36px;
  display:inline-block;
  overflow:hidden;
  @include border-radius(200px);
  .display-pic{
    width:100%;
  }
}
#profile .profile-img {
  width: 6em;
  height: 6em;
}

.logo-unLtd:hover {
  background: url(/assets/images/unLtd-logo.png);
}
@media only screen and (max-width : 400px) {
    .intro-img{
        display: none;
    }
}
