// PLATFORM - PROFILE PAGE
#profile {
    p {
        margin: 0;
    }
    .card .divider {
        margin-bottom: 1.5em;
    }
    .stretch {
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0;
    }
    .activity-stats, .activity-contacts {
        text-align: justify;
        margin-top: 2em;
        div {
            display: inline-block;
            vertical-align: top;
        }
    .numb {
        display: inline-block;
        font-size: 1.5em;
        font-weight: bold;
        color: $primary-text;
    }
    h5 {
        display: inline-block;
        font-weight: 300;
        font-size: 1.5em;
        }
    }
    .contact-item {
        border: 1px solid $border-grey;
        padding: 0;
        margin: 10px;
        img.col.m6{
            border-right: 1px solid $border-grey;
        }
    }
    .contact-info {
        width:50%;
        float: right;
        .name,.occupation {
            display: block;
            width: 100%;
        }
        .name {
            color: $primary-teal;
            border-bottom: 1px solid $border-grey;
        }
        .occupation {
            font-style: italic;
            font-size: 0.8em;
        }
        i.circle {
            padding: 5px;
            color: $yellow;
        }
    }
}

//add this class to a card with saved & registered datasets on profile page. To have two col on the page and add margins right or left
#profile .profile-datasets {
    width: 48%;
    min-height: 12em;
    display: inline-block;
    .personal-info {
        margin-bottom: 1em;
    }
    .bottom-fixed {
        position: absolute;
        bottom: 0;
        right: 25%;
        margin: 1em;
    }
    p.action-text {
        margin-top: 1em;
    }
}
.edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}