nav.sideNav{
  ul{
    background-color: $navbar-grey;
    @include shadow;
    li{
      height:$navbar-height;
      line-height:$navbar-height;
      border-bottom: 1px solid $border-grey;
      @include horiz-padding(1rem);
      a.active {
              color: $primary-teal !important;
          }
      a {
          width: 100%;
          i {
              font-size: 1.5em;
          }
      }
    }
  }
}
//secondary navbar on settings page
nav.secondNavbar {
    font-size: 0.8em;
    height: auto;
    padding: 0 !important;
    li {
        width: 100%;


    }
}
