//Sign up page
.privacy-msg {
    font-size: 0.8em;
    li {
        list-style: circle;
        text-align: left;
    }
}
.stick-to-bottom {
    bottom: 0;
    width: 100%;
    margin-bottom: 60px;
    h3 {
        margin: 1em 0 1em 0;
    }
}
.or-div{
    height: 1px;
    background-color: $unfocus-grey;
    text-align: center;
    margin-bottom:3em;
    span{
        background-color: white;
        position: relative;
        top: -0.7em;
        padding-left:5px;
        padding-right:5px;
        color:$unfocus-grey;
    }
}
.password-div {
    color: $unfocus-grey;
    font-size: 0.7em;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
    label {
      font-size: 1em;
    }
    .weak {
      color: $primary-red;
    }
    .medium {
      color: $primary-orange;
    }
    .strong {
      color: $primary-teal;
    }
}
.pw-tag,.pw-strength {
  float: right;
}
.pw-check {
  float: left;
}
[type="checkbox"] {
  + label {
    position: relative;
    padding-right: 25px;
    padding-left: 0;
    display: inline-block;
    height: 18px;
    line-height: 18px;
  }
  + label:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1.5px solid $unfocus-grey;
    border-radius: 1.5px;
    margin: 0 0 0 85px;
  }
}
[type="checkbox"]:checked {
  + label:before {
    top: -4px;
    left: -3px;
    width: 8px; height: 18px;
    border-top: 1.5px solid transparent;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid $primary-teal;
    border-bottom: 1.5px solid $primary-teal;
  }
}
[type="checkbox"].filled-in {
  + label:after {
    border-radius: 1.5px;
  }
  &:not(:checked) + label:after {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1.5px solid $unfocus-grey;
  }
  &:checked {
    + label:after {
      top: 0px;
      width: 15px;
      height: 15px;
      border: 1.5px solid $primary-teal;
      background-color: $primary-teal;
      margin: 0 0 2px 0;
    }
  }
}
