.tabs {
  position: relative;
  height: 36px;
  background-color: $tabs-bg-color;
  margin: 0;
  padding:0;
  width: 100%;
  white-space: nowrap;
  .tab {
    background-color: $navbar-grey;
    box-sizing:border-box !important;
    width:25% !important;
    border-right: 1px solid $border-grey;
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    height: 48px;
    line-height: 48px;
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: .6px;
    a {
      color: $unfocus-grey;
      display: block;
      width: 100%;
      height: 100%;
    }
    &.disabled a {
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $tabs-underline-color;
    will-change: left, right;
    color: $sub-text;
    display: block;
    width: 100%;
    height: 100%;
  }
  a:hover {
    color: $unfocus-grey;
    background-color: $border-grey;
  }
  a.active {
    background-color: white;
    color: $primary-teal !important;

  }
  .indicator {
    display:none;
  }
}

.tabs .tab { padding: 0; }
