$h1-fontsize: 1.92rem;
$h2-fontsize: 1.66rem;
$h3-fontsize: 1.26rem;
$h4-fontsize: 1.06rem;
$h5-fontsize: 0.92rem;
$h6-fontsize: 0.8rem;

$head-font-stack: 'Varela Round','roboto', sans-serif;
$body-font-stack: 'roboto', sans-serif;

$navbar-height: 2.86rem;
$container-width: 64rem;
$sidenav-width: $container-width / 4;
$sidenav-horiz-padding: 1rem;

$footer-height: 3rem;

$navbar-logo-width: 9rem;
$navbar-dropdown-width: 4rem;
$navbar-button-width: 10rem;
$navbar-horiz-padding: 1rem;

$navbar-breakpoint: $navbar-dropdown-width + $navbar-logo-width + $container-width + 4 * $navbar-horiz-padding;
$sidenav-breakpoint: (2 * ($sidenav-width - 2 * $sidenav-horiz-padding)) + $container-width;
