{{metadata-panel collection=model.collection}}

<section class="row content">
  <div class="contain">
    {{#link-to 'collections'}}
      {{fa-icon 'chevron-left'}} Back to all collectionss
    {{/link-to}}
  </div>
</section>
