<main class="row contain">
  {{collection-meta-panel model=model.collection datasets=model.datasets}}

  <div class="content push-right">
    <div class="col m12">
      {{#each model.datasets as |dataset|}}
        {{dataset-card dataset=dataset action="toggleModal"}}
      {{/each}}
    </div>
  </div>
</main>
