{{collection-meta-panel
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  datasets=model.datasets}}

<div class="content push-right">
  {{#unless isLoading}}
    {{search-results-list results=model.datasets}}
    {{#if (gt model.collectionStats.datasets 0)}}
      <div class="pagination-container">
        {{pagination-bar totalResults=model.meta.total search=(route-action 'search')}}
      </div>
    {{/if}}
  {{/unless}}
</div>
