{{collections-list-tabs}}

<main class="row">
  <div class="col m12">

    <div class="card no-margin">
      <div class="card-content">
        <div class="card-body">
          {{#each model as |collection|}}
            {{collection-feed-item collection=collection toggleModal="toggleModal"}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</main>
