<h4 class="u-tc-secondary u-mb0 u-fs2">To filter these results</h4>
<h4 class="u-fs2">
  {{#link-to 'users.signup' class="u-td-underline u-tc-teal" invokeAction=(action 'trackLinkEvent')}}create a free account.{{/link-to}}
</h4>
