<h4 class="fc-secondary mb0 fs2">To filter these results</h4>
<h4 class="fs2">
  {{#link-to 'users.signup' class="u-td-underline fc-teal" invokeAction=(action 'trackLinkEvent')}}create a free account.{{/link-to}}
</h4>
