<h3 class="call-to-action">Create a free account to use advanced search features!</h3>
<div class="center">
  {{#link-to 'users.signup' class='btn waves-effect teal white-text'}}SIGN UP{{/link-to}}
</div>
