<section class="stats">
  <h1 class="fs3 ta-center fc-secondary">
    <span>Search through </span>
    {{#link-to 'datasets.search' (query-params query="") class="fc-secondary fs4"}}
      {{datasetsNumber}}
    {{/link-to}}
    <span> Human Genomic Datasets </span>
  </h1>
</section>
