<div class="grid-wrapper grid-wrapper-stepped {{unless session.isAuthenticated 'pt5' ''}}">
  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--3-of-3">
      {{dataset-page
          model=request
          modelName="request"
          commentsSorted=comments
          subscription=model.subscription
          tags=tags
          editableProperties=requestEditableProperties
          addTag=(action 'addTag')
          addComment=(action 'addComment')
          deleteAction=(action 'deleteAction')
      }}
    </div>
  </div>
</div>
