<div class="grid-wrapper grid-wrapper-stepped mb4">

  {{#infinite-scroller on-load-more=(route-action 'loadMore') use-document=true trigger-at='50%' as |scroller|}}
    {{search-results-list results=model type='request'}}
    {{#if scroller.isLoading}}
      <h2 class="pt3 mb4 fc-tertiary">Loading...</h2>
    {{/if}}

  {{/infinite-scroller}}

</div>
