/* ==========================================================================
    #BORDER RADII
   ========================================================================== */

.u-rounded        { border-radius: $global-border-radius; }
.u-rounded-top    { border-radius: $global-border-radius $global-border-radius 0 0; }
.u-rounded-bottom { border-radius: 0 0 $global-border-radius $global-border-radius; }
.u-circle         { border-radius: 100%; }
.u-square  { border-radius: 0; }

.u-border         { border: $global-border-style; }
.u-border-top     { border-top: $global-border-style; }
.u-border-bottom  { border-bottom: $global-border-style; }
.u-border-left    { border-left: $global-border-style; }
.u-border-right   { border-right: $global-border-style; }

.u-border-none    { border: none; }

.u-border-fat     { border-width: 2px; }

.u-outline-none   { outline: 0; }
