/* ==========================================================================
    #TYPE SETTING
   ========================================================================== */

 // Font Sizes
 /* ==================================== */
.u-fs0 { font-size: $global-font-size-tiny;   }
.u-fs1 { font-size: $global-font-size-small;  }
.u-fs2 { font-size: $global-font-size-regular;}
.u-fs3 { font-size: $global-font-size-large;  }
.u-fs4 { font-size: $global-font-size-huge;   }

 // Font Weights
 /* ==================================== */
.u-fw-thin  { font-weight: 300;  }
.u-fw-reg   { font-weight: 400;  }
.u-fw-med   { font-weight: 500;  }
.u-fw-bold  { font-weight: 700;  }

 // Type Setting Helpers
 /* ==================================== */
.u-line-break   { word-break: break-all; }
.u-line-keep     { word-break: keep-all; }

// Type Decorations
/* ==================================== */
.u-td-underline { text-decoration: underline; }
