/* ==========================================================================
    #IMAGES
   ========================================================================== */

.u-img-tiny  { width: 1.5 * $global-spacing-unit; }
.u-img-small { width: 2 * $global-spacing-unit;   }
.u-img-med   { width: 2.5 * $global-spacing-unit; }
.u-img-large { width: 5 * $global-spacing-unit;   }
.u-img-huge  { width: 7.5 * $global-spacing-unit; }
