/* ==========================================================================
    #POSITION
   ========================================================================== */

.u-pos-relative { position: relative; }
.u-pos-absolute { position: absolute; }
.u-pos-fixed    { position: fixed;    }

.u-pos-top0 { top: 0; }
.u-pos-bottom0 { bottom: 0; }
.u-pos-left0 { left: 0; }
.u-pos-right0 { right: 0; }
