/* ==========================================================================
    #IMAGES
   ========================================================================== */

.u-w1 { width: 1.5 * $global-spacing-unit;  }
.u-w2 { width: 5 * $global-spacing-unit;    }
.u-w3 { width: 10 * $global-spacing-unit;   }
.u-w100 { width: 100%; }
