/* ==========================================================================
    INPUT UTILITIES
   ========================================================================== */

 // Textarea Resizes
 /* ==================================== */
.u-textarea-resize-v    { resize: vertical; }
.u-textarea-resize-h    { resize: horizontal; }
.u-textarea-resize-none { resize: none; }
