/* ========================================================================
    #COLOR VARIABLES - CUSTOM TO DISCOVER APP
   ======================================================================== */

/*
  ASSAY COLOURS
*/

$web-orange:     #ffa500;
$lilac-bush:     #9575cd;
$salmon:         #f77;
$fruit-salad:    #4caf50;
$bittersweet:    #ff6460;
$dodger-blue:    #29b6f6;
$sapphire:       #3949ab;
$froly:          #f06292;
$turquoise-blue: #4dd0e1;
$amythest:       #ab47bc;
$lime:           #cddc39;
$light-green:    #8bc34a;
$amber:          #ffc107;
$orange:         #ff9800;
$deep-orange:    #ff5722;
$brown:          #795548;
$grey:           #9e9e9e;

/*
  UI COMPONENTS
*/

$color-collection:      #607d8b;
$color-datasource:      #686983;
$color-light-bluegrey:  #eceff1;

/*
  REPUTATION COLOURS
*/

$color-light-teal:      #7bc8cd;
$color-light-yellow:    #ffe3ae;
