/* ========================================================================
    #COLOR VARIABLES - CUSTOM TO DISCOVER APP
   ======================================================================== */

/*
  UI COMPONENTS
*/

$color-collection:      #607d8b;
$color-datasource:      #686983;
$color-light-bluegrey:  #eceff1;

/*
  REPUTATION COLOURS
*/

$color-light-teal:      #7bc8cd;
$color-light-yellow:    #ffe3ae;

/*
  ACCESS COLOURS
*/
$color-green:    #4caf50;

/*
  PASSWORD STRENGTH
*/
$color-orange: #ff9800;
