<div id="request-form" class="content">
  <h5 class="subtitles-left unfocus-grey-text">Request Data</h5>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h2 class="col m12 center">Can't find what you are looking for? Request it!</h2>
        <h3 class="color-silver-chalice-text center thin">Let the community help you find the data you need.</h3>
      </div>

      <div class="divider"></div>

      <div class="row center rq-animation">
          <div class="rq-animation-section col m3">
            <h4 class="animated fadeIn fadeIn1">Didn't find the data?</h4>
            <img src="/assets/images/request-intro-01.png" class="responsive-img animated fadeIn fadeIn1" alt="intro-01">
          </div>
          <div class="rq-animation-section col m3">
            <h4 class="animated fadeIn fadeIn2">Fill in the request form.</h4>
            <img src="/assets/images/request-intro-02.png" class="responsive-img animated fadeIn fadeIn2" alt="intro-02">
          </div>
          <div class="rq-animation-section col m3">
            <h4 class="animated fadeIn fadeIn3">Others can see your request.</h4>
            <img src="/assets/images/request-intro-03.png" class="responsive-img animated fadeIn fadeIn3" alt="intro-03">
          </div>
          <div class="rq-animation-section col m3">
            <h4 class="animated fadeIn fadeIn4">And give you a response with help.</h4>
            <img src="/assets/images/request-intro-04.png" class="responsive-img animated fadeIn fadeIn4" alt="intro-04">
          </div>

          {{#link-to 'datasets.request.new' class="btn white-text"}}Make a Request{{/link-to}}
      </div>
    </div>
  </div>
</div>
