<form class="flex bc-white" autocomplete="off" {{action search query on='submit'}}>

    <label class="flex items-center">
      <span>{{fa-icon "search" class='px3 fc-secondary'}}</span>
    </label>
    {{#power-select-multiple
      placeholder=placeholder
      options=suggestions
      selected=choice
      onchange=(action (mut choice))
      search=(action 'fetchSuggestions')
      as |suggestion|
    }}
      {{suggestion}}
    {{/power-select-multiple}}


  {{#if hasSubmitButton}}
    <button class="r-btn r-btn-primary r-btn-large square self-stretch">Search</button>
  {{/if}}
</form>
