<form class="flex items-center bc-white" autocomplete="off">

    <label class="flex items-center">
      <span>{{fa-icon "search" class='px3 fc-secondary'}}</span>
    </label>

    {{#each predicates as |predicate|}}
      <span class='c-predicate p2 mr1 bc-primary-yellow rounded'>{{predicate.key}}: {{predicate.value}}</span>
    {{/each}}
    <!-- List predicates -->
      <!-- Each predicate has cross (removePredicate) -->
      <!-- List has max length so that search isn't pushed away -->
    {{#power-select-typeahead
      allowClear=true
      placeholder=placeholder
      options=suggestions
      selected=queryToken
      onchange=(action 'handleSelection')
      onkeydown=(action 'handleKeyDown')
      search=(perform fetchSuggestions)
      defaultHighlighted=''
      as |option|
    }}
      {{option.suggestionText}}
    {{/power-select-typeahead}}


  {{#if hasSubmitButton}}
    <button class="r-btn r-btn-primary r-btn-large square self-stretch">Search</button>
  {{/if}}
</form>
