<form class="flex items-center bc-white" autocomplete="off">

    <label class="flex items-center">
      {{#if isLoading}}
        <span>{{fa-icon "circle-o-notch" class='px3 fc-secondary default-transition' pulse=true size=1}}</span>
      {{else}}
        <span>{{fa-icon "search" class='px3 fc-secondary default-transition' size=1}}</span>
      {{/if}}
    </label>

    {{#power-select-typeahead
      placeholder=placeholder
      options=suggestions
      selected=queryString
      onchange=(action 'handleSelection')
      onkeydown=(action 'handleKeyDown')
      search=(perform fetchSuggestions)
      searchMessage=''
      defaultHighlighted=''
      as |option|
    }}
      {{option.suggestionText}}
    {{/power-select-typeahead}}



  {{#if hasSubmitButton}}
    <button class="r-btn r-btn-primary r-btn-large square self-stretch">Search</button>
  {{/if}}
</form>
