<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--3-of-3">
      {{help-tabs tab="requesting"}}
      <div class="c-card c-card-detail-overflow rounded-bottom py4">
        <div class="grid grid--no-gutter u-full-height">
          <div class="grid__col grid__col--1-of-3 fs2 fw-med">
            <ul class="list-flush-left px4">
              {{#each helpData.register as |data|}}
                {{help-docs-link link=data.link query=data.query text=data.text}}
              {{/each}}
            </ul>
          </div>
          <div class="grid__col grid__col--2-of-3 u-full-min-height mb4 fs2 border-left">
            {{help-markdown filePath=currentPage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
