{{#if (and icon (eq iconPosition "left"))}}{{fa-icon icon}}{{/if}}
<span class="px2 fw-reg">{{tabName}}</span>
{{#if stats}}<span class="fw-med px2">{{stats}}</span>{{/if}}
{{#if (and icon (eq iconPosition "right"))}}{{fa-icon icon}}{{/if}}
