<div class="flex items-center justify-between mb2">
  <p class="mb0">Primary Email</p>
  {{#if credentials.is_verified}}
    <p class="fc-teal fw-med mb0">Your email is verified.</p>
  {{/if}}
</div>
<div class="flex justify-between">
  <p class="mb0 fs2">{{credentials.main_credential.email}}</p>
  <a class="fc-secondary td-underline fs2" {{action 'toggleAddCredentialInput'}}>Change Email</a>
</div>
