<h2 class="u-mb0 u-m0 u-self-center">
  To find more information {{#link-to 'users.signup' class="u-tc-teal u-td-underline" invokeAction=(action 'trackLinkEvent')}}create a free account{{/link-to}}.
</h2>
