<section class="grid">
  <div class="grid__col grid__col--3-of-12 c-user-profile-section-header">
    {{#if title}}
      <h2 class="fs1 fc-tertiary border-bottom pb1">{{title}}</h2>
    {{/if}}
  </div>
  <div class="grid__col grid__col--6-of-12">
    <div class="{{if title 'c-user-profile-section-wrapper--drop'}}">{{yield}}</div>
  </div>
</section>
