<section class="grid">
  <div class="grid__col grid__col--3-of-12 u-pl4">
    <h2 class="u-fs1 u-tc-tertiary u-border-bottom u-pb1">{{title}}</h2>
  </div>
  <div class="grid__col grid__col--6-of-12">
    <div class="u-pt4">{{yield}}</div>
  </div>
</section>
