<section class="grid">
  <div class="grid__col grid__col--3-of-12 user-profile-section-header">
    {{#if title}}
      <h2 class="u-fs1 u-tc-tertiary u-border-bottom u-pb1">{{title}}</h2>
    {{/if}}
  </div>
  <div class="grid__col grid__col--6-of-12">
    <div class="{{if title 'user-profile-section-wrapper--drop'}}">{{yield}}</div>
  </div>
</section>
