<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--8-of-12 grid__col--centered">
      {{#link-to 'root'}}
        <img src="/assets/images/404.png" alt="404 Page Not Found">
      {{/link-to}}
    </div>
  </div>
</div>
