<div class="outer-wrap">
  {{platform-navbar action="search"}}
  <div class="container full-height">
    {{!message-queue}}
    {{!outlet 'modal'}}
    {{outlet}}
  </div>
</div>
 {{> platform-footer}}
