<div class="outer-wrap">
  {{platform-navbar action="search"}}
  <div class="container">
    {{!message-queue}}
    {{!outlet 'modal'}}
    {{outlet}}
  </div>
  {{> platform-footer}}
</div>
<<<<<<< HEAD

=======
>>>>>>> e06a980b9cfb2b4317912fbf8ea25a83dfaadbe5
