<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <i class="fa fa-bars "></i>
	    </button>
	    <ul class="list-inline">
	    {{#link-to 'index' tagName='li' class='navbar-brand'}}Repositive{{/link-to}}
	    </ul>
	  </div>
	  {{render "navbar"}}
	</div>
</nav>


<div class="container-fluid">
	<div class="row">
			{{outlet}}
	</div>
</div>