<div class="row">
{{# each dataset in model }}
  <div class="col m4">
    <div class="card small">
      <a href="/datasets/:id">
        <h2>{{ dataset.title }}</h2>
      </a>
      {{#if dataset.user }}
      <span class="helper-text">
        uploaded by
        <a href="/profile" class="teal-text"></a>
      </span>
      {{/if }}
      <p>{{ dataset.description }}</p>
      <div class="row">
        <div class="col m4">
          <span>12/05/1994</span>
        </div>
        <div class="col m4 offset-m4">
          <span>35 views</span>
        </div>
      </div>
    </div>
  </div>
{{/ each }}
</div>
