<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 grid__col--centered">
      <div class="c-card u-border-square u-p4 u-ta-center">
        <h1 class="u-fs4">Oops, something went wrong.</h1>
        <h3 class="u-tc-secondary u-fw-thin"><em>Let us know what happened support@repositive.io.</em></h3>
        <a href="mailto:support@repositive.io?subject=Bug report" class="c-btn c-btn-secondary">{{fa-icon "paper-plane"}} Send us an email</a>
      </div>
    </div>
  </div>
</div>
