<div class="center-align valign">
    <h1 class="sub-grey">Oops, something went wrong.<br> Tell us what happened dev@repositive.io</h1>
    <!-- {{#link-to 'root'}}time to go home.{{/link-to}} -->
</div>

