<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 grid__col--centered">
      <div class="c-card square p5 ta-center">
        <h1 class="fs4">Oops, something went wrong.</h1>
        <h3 class="fc-secondary fw-thin"><em>Let us know what happened support@repositive.io.</em></h3>
        {{! TODO: Custom button }}
        <a href="mailto:support@repositive.io?subject=BugReport" class="c-btn c-btn-large c-btn-secondary">{{fa-icon "paper-plane"}} Send us an email</a>
      </div>
    </div>
  </div>
</div>
