<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--1-of-3">
      {{vertical-menu navigationData=model}}
    </div>
    <div class="grid__col grid__col--2-of-3">
      <div class="c-card px2 py4">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
