<div class="container" id="homepage">
  <div id="explore" class="section">
      <div class="center-align">
          <h2>EXPLORE</h2>
          <hr class="teal">
          <p class="sub-head">Find the most relevant and hight quality datasets.</p>
          <div class="row">
              <div class="stats left-align col m4"><span class="numb">25</span><span class="stats-text">Repositories</span></div>
              <div class="stats center-align col m4"><span class="numb">25 524</span><span class="stats-text">Datasets</span></div>
              <div class="stats right-align col m4"><span class="numb">54</span><span class="stats-text">Active Users</span></div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="center-align">
          <h2>The Latest Datasets Registration</h2>
          <hr class="red">
      </div>
  </div>
  {{#each card in cards}}
    <p>
      {{!card.properties.title}}
      {{mini-dataset  title = card.properties.title assay=card.properties.assayType}}
    </p>
  {{/each}}
  <a {{action 'logThis'}}>log</a>
</div>
