<div class="grid-wrapper">
  <div class="grid">
    <main>
      {{home-stats-updates datasetsNumber=datasetsNumber stats=model.stats collections=model.collections datasources=model.datasources}}

      <section>
        <!-- <h5 class="subtitles-left unfocus-grey-text">Popular Datasets</h5> -->
        {{#each model.datasets as |dataset|}}
          {{dataset-card dataset=dataset}}
        {{/each}}
      </section>

      <section>
        <div class="grid__col grid__col--1-of-2">
          {{activity-card model=registrationsSorted type="registration"}}
        </div>
        <div class="grid__col grid__col--1-of-2">
          {{activity-card model=requestsSorted type="request"}}
        </div>
      </section>
    </main>
  </div>
</div>
