<div id="homepage">
  <div class="jumbotron valign-wrapper home-jumbo">
            <div class="container center-align">
               {{#link-to 'datasets'}}<h2 class="dark-blue-text">EXPLORE</h2>{{/link-to}}
                <!-- <p class="sub-head">Find the most relevant and hight quality datasets.</p> -->
                <div class="row">
                  <div class="col m12 center-align">
                    <div class="stats"><span class="numb">{{ model.stats.repos }}</span><span class="stats-text">Repositories</span></div>
                    <div class="stats"><span class="numb">{{ model.stats.datasets }}</span><span class="stats-text">Datasets</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col m8 offset-m2">
                    {{search-form action="search"}}
                  </div>
                </div>
            </div>
        </div>
  <div class="container">
  <div class="row">
      <div class="center-align">
          <h2>FEATURED DATA</h2>
          <hr class="yellow">
      </div>
  </div>
  {{#each dataset in model.datasets }}
    <p>
      {{!card.properties.title}}
      {{mini-dataset  dataset=dataset}}
    </p>
  {{/each}}
</div>
</div>
