<div class="container text-center">
  <h1>repositive</h1>
  <p>connecting the world of genomic data</p>
</div>
<div class="container" id="search-container">
  <p class="text-left">Find relevant datasets</p>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      {{#link-to 'datasets' tagName='button' classNames="btn btn-default"}}Search{{/link-to}}
    </span>
  </div><!-- /input-group -->
</div>
