{{outlet}}
<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="card-content">          
            <div class="row no-margin">
              <div class="col m12">
                <div class="landing-title">
                  <h1><strong>DATA DISCOVERY PLATFORM</strong></h1>
                  <h3 class="color-silver-chalice-text thin"><em>Designed for researchers who use, share and collaborate on human genomic data.</em></h3>
                </div>
              </div>
              <div class="col m6">
                <img src="/assets/images/landing-page.png" class="lizard-image-landing" alt="landing page lizard">
              </div>
              <div class="col m5 offset-m1">
                <div class="landing-form">                
                  {{#link-to 'typeform' tagName='button' class='btn teal full-width'}}SIGN UP FOR BETA{{/link-to}}
                  <span class="helper-text">The platform is in beta testing and we will send you an invitation code as soon as we can accommodate you as a user on our platform.</span>
                  <div class="or-div">
                    <span>DO YOU HAVE THE ACTIVATION CODE?</span>
                  </div>
                  <form {{action "submitForm" on="submit"}}>
                    {{validated-input placeholder="Your activation code" value=code errors=errors.code}}
                    {{#full-width-button class="btn teal {{#if buttonDisabled 'disabled'}}" disabled=buttonDisabled type="submit"}}Continue{{/full-width-button}}
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
