<div class="grid-wrapper grid-wrapper-stepped p0 u-viewport-height relative">

  {{home-page-map}}

  <div class="grid-wrapper grid-wrapper-stepped relative u-inherit-height py0 px4">
    <div class="grid u-inherit-height">
      <div class="flex flex-column justify-between u-inherit-height">

        <div class="grid__col grid__col--3-of-3">
          <div class="mb3 mb5-l"></div>
          <h1 class="fs4 fw-thin ta-center">Discover, share & collaborate on human genomic data</h1>
          <div class="grid">
            <div class="grid__col grid__col--2-of-3 grid__col--centered u-py4">
              {{search-bar search=(route-action 'search') hasSubmitButton=true class="u-border u-border-fat u-rounded u-border-color-teal"}}
            </div>
          </div>
        </div>

        <div class="pb5">
          <div class="grid__col grid__col--1-of-3">
            <div class="ta-center">
              <h2 class="fs3 mb2"><strong>1,000,000+</strong></h2>
              <span class="fs2">human genomic datasets</span>
            </div>
          </div>

          <div class="grid__col grid__col--1-of-3">
            <div class="ta-center">
              <h2 class="fs3 mb2 ta-center"><strong>1000+</strong></h2>
              <span class="fs2">researchers & bioinformaticians</span>
            </div>
          </div>

          <div class="grid__col grid__col--1-of-3">
            <div class="ta-center">
              <h2 class="fs3 mb2"><strong>35+</strong></h2>
              <span class="fs2">data sources</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
