<div class="grid-wrapper">
  <div class="grid">

    {{home-page-map}}
    <div class="u-ta-center u-pos-relative">
      <h1 class="fs4 fw-thin">Discover, share and collaborate on human genomic data</h1>
    </div>
    {{search-box search=(action 'search')}}

    <div class="grid__col grid__col--1-of-3">
      <div class="u-ta-center">
        <h3><strong>100,100,000+</strong></h3>
        <span>human genomic datasets</span>
      </div>
    </div>

    <div class="grid__col grid__col--1-of-3">
      <div class="u-ta-center">
        <h3><strong>100+</strong></h3>
        <span>researchers & bioinformaticians</span>
      </div>
    </div>

    <div class="grid__col grid__col--1-of-3">
      <div class="u-ta-center">
        <h3><strong>{{model.stats.datasources}}</strong></h3>
        <span>different data sources</span>
      </div>
    </div>

  </div>
</div>