{{outlet}}
<div class="content">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="row no-margin">
            <header class="col m12">
              <div class="landing-title center-align">
                <h1><strong>DATA DISCOVERY PLATFORM</strong></h1>
                <h3 class="ultra-thin">Designed for researchers who use, share and collaborate on human genomic data.</h3>
              </div>
            </header>
            <main>
              <section class="col m6 center-align">
                <img src="/assets/images/landing-page.png" class="lizard-image-landing" alt="landing page lizard">
              </section>
              <section class="col m6">
                <div class="landing-form">
                  <h3 class="center-align padding-top">Discover a better way of searching for genomic data</h3>
                  {{#link-to 'users.signup'}}<button class="btn teal center-block margin-top">SIGNUP</button>{{/link-to}}
                  <div class="or-div">
                    <span>ALREADY HAVE AN ACCOUNT?</span>
                  </div>
                  {{#link-to 'users.login'}}<button class="btn btn-light center-block margin-bottom no-margin-top">LOGIN</button>{{/link-to}}
                  <span class="helper-text padding-top"><strong class="sub-dark">We are currently in beta testing.</strong> That means as an early access beta user, your feedback is vital in helping us build a great product. To do this, we will ask you a few questions during our beta phase.</span>
                </div>
              </section>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
