<!-- <div class="container landing-wrapper"> -->
  <div class="content">
    <div class="row center-align">
      <div class="col m12">
        <div class="card">
          <div class="card-content">
            <h1 class="sub-grey"><strong>DATA DISCOVERY PLATFORM</strong></h1>
            <h3><em>Designed for users who produce, look for and use human genomic data.</em></h3>

            <div class="card-body">

              <div class="row">

                <div class="col m5 offset-m1">
                  <img src="/assets/images/landing-page.png" class="lizard-image" style="width:100%;" alt="landing page lizard">
                </div>

                <div class="col m4 offset-m1">
                  <form class="landing-form" {{action "submitForm" on="submit"}}>
                    <div class="row">
                      <div class="col m12">
                        {{#full-width-button class="teal" type="submit"}}SIGN UP FOR BETA{{/full-width-button}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col m12">
                        <span>The platform is in development and we invite only users who are willing to give us feedback.</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col m8 offset-m2 or-div">
                        <span class="sub-grey">DO YOU HAVE THE ACTIVATION CODE?</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col m12">
                        <label class="left">Insert your activation code to sign up</label>
                        {{validated-input
                          type="text"
                          errors=errors.code
                          value=code
                          placeholder="jfG42dh/="
                          formSubmitted=formSubmitted
                        }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col m12">
                        <button type="submit" class="btn full-width teal">Continue</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row center-align">
    <div class="col m12">
      <a href="http://repositive.io"><img src="/assets/images/logo-full-larger.png" class="responsive-img" alt="repositive logo"></a>
    </div>
  </div>
  <div class="row center-align">
    <div class="col m12">
      <p class="grey-text">Our app is currently in private beta, so you'll need an invitation to get started.</p>
    </div>
  </div>
  <div class="row center-align">
    <div class="col m12 s12">
       <a href="http://repositive.io/#beta-signup-form" class="btn btn-large full-width teal white-text" target="_blank">Request Invitation</a>
    </div>
  </div>
  <div class="row center-align">
    <div class="col m6 s6">
      {{#link-to "users.signup" class="btn navbar-grey sub-grey full-width"}}Signup{{/link-to}}
    </div>
    <div class="col m6 s6">
      {{#link-to "users.login" class="btn navbar-grey sub-grey full-width"}}Login{{/link-to}}
    </div> -->
  <!-- </div> -->
<!-- </div> -->
