{{outlet}}
<div class="content">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
            <div class="row no-margin">
              <div class="col m12">
                <div class="landing-title center-align">
                  <h1><strong>DATA DISCOVERY PLATFORM</strong></h1>
                  <h3 class="color-silver-chalice-text thin"><em>Designed for researchers who use, share and collaborate on human genomic data.</em></h3>
                </div>
              </div>
              <div class="col m6 center-align">
                <img src="/assets/images/landing-page.png" class="lizard-image-landing" alt="landing page lizard">
              </div>
              <div class="col m5 offset-m1">
                <div class="landing-form">
                  <span class="helper-text center-align">The platform is in beta testing. We will invite you for beta testing as soon as we are ready to accommodate you.</span>
                  {{#unless codeEntered}}
                    {{#link-to 'signup-form'}}{{#full-width-button class="btn"}}SIGN UP FOR BETA{{/full-width-button}}{{/link-to}}
                  {{else}}
                    {{#full-width-button class="btn teal {{#if codeEntered 'disabled'}}" disabled=codeEntered}}SIGN UP FOR BETA{{/full-width-button}}
                  {{/unless}}
                  <div class="or-div">
                    <span>DO YOU HAVE THE ACTIVATION CODE?</span>
                  </div>
                  <form {{action "submitForm" on="submit"}} class="side-form">
                    {{validated-input placeholder="Your activation code" value=code errors=errors.code}}
                    {{#full-width-button class="btn teal {{#if buttonDisabled 'disabled'}}" disabled=buttonDisabled type="submit"}}Continue{{/full-width-button}}
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
