<div class="container landing-wrapper">
  <div class="row center-align">
    <div class="col m12">
      <a href="http://repositive.io"><img src="/assets/images/logo-full-larger.png" class="responsive-img" alt="repositive logo"></a>
    </div>
  </div>
  <div class="row center-align">
    <div class="col m12">
      <p class="grey-text">Our app is currently in private beta, so you'll need an invitation to get started.</p>
    </div>
  </div>
  <div class="row center-align">
    <div class="col m12 s12">
       <a href="http://repositive.io/#beta-signup-form" class="btn btn-large full-width teal white-text" target="_blank">Request Invitation</a>
    </div>
  </div>
  <div class="row center-align">
    <div class="col m6 s6">
      {{#link-to "users.signup" class="btn navbar-grey sub-grey full-width"}}Signup{{/link-to}}
    </div>
    <div class="col m6 s6">
      {{#link-to "users.login" class="btn navbar-grey sub-grey full-width"}}Login{{/link-to}}
    </div>
  </div>
</div>
