<h1>Policies</h1>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a href="#pp">Privacy Policy</a></li>
      <li class="tab col s6"><a href="#tos">Terms of Service</a></li>
    </ul>
  </div>
  <div id="pp" class="col s12">Privacy Policy</div>
  <div id="tos" class="col s12">Terms of Service</div>
</div>
