{{{model.RGScript}}}

<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <div class="c-card">
        <header class="border-bottom">
          <div class="p4">
            <h1 class="fs4">Welcome on board!</h1>
            <p class="fs2">Please take a minute to answer these optional questions. We want to see if we are making a difference for you.</p>
            <img src="/assets/images/we-are-testing.png"/>
          </div>
        </header>
        <main>{{typeform-markup name=model.name email=model.cred.email}}</main>
      </div>
      
      <div class="ta-right">
        {{#link-to 'root'}}
          {{rui/r-button variant="primary" size="big" label="Skip"}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
