<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <div class="c-card">
        <header class="u-border-bottom">
          <div class="u-p3">
            <h1 class="u-fs4">Welcome on board!</h1>
            <p class="u-fs2">Please take a minute to answer these optional questions. We want to see if we are making a difference for you.</p>
            <img src="/assets/images/we-are-testing.png"/>
          </div>
        </header>
        <main>{{typeform-markup name=model.name email=model.cred.email}}</main>
      </div>
      <div class="u-ta-center">
        {{#link-to 'root'}}<button class="c-btn c-btn-primary u-mb3">SKIP</button>{{/link-to}}
      </div>
    </div>
  </div>
</div>
