<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="typeform-widget welcome-info" data-url="https://repositive.typeform.com/to/pktwPz" data-text="integrated with beta signup"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
      </div>
      <p>Click {{#link-to "video"}}here{{/link-to}} to watch a demo video.</p>
    </div>
  </div>
</div>
