<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <h1>Typeform</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
