<main class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <h1>This user does not exist.</h1>
        </div>
      </div>
    </div>
  </div>
</main>
