<main class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="profile-img">
            <img src="/assets/images/lizard-time-out@2x.png">
          </div>
          <h2>I'm sorry, no one of that name lives here.</h2>
        </div>
      </div>
    </div>
  </div>
</main>
