{{outlet}}
<div class="row valign-wrapper">
  <div class="col m3 valign">
    <img src="/assets/lizzard.png" alt="Repositive Lizzard">
  </div>
  <div class="col m7 offset-m1 valign">
    <form {{action "submitForm" on="submit"}} class="col m9">
      <h2>Private beta access</h2>
      <p>To use join the private beta, you must have an access code. These codes have only been emailed to several users.</p>
      {{validated-input placeholder="please enter your code" errors=errors.code value=code}}
      <button type="submit" class="btn teal">Continue</button>
    </form>
  </div>
</div>
