{{outlet}}
<h2>Welcome to Repositive <span>Beta</span></h2>

<div class="row valign-wrapper">
    <img src="/assets/images/lizzard.png" alt="Repositive Lizzard">

    <p class="col m12">To use join the private beta, you must have an access code.</p>
    <form {{action "submitForm" on="submit"}}>

      {{validated-input placeholder="please enter your code" errors=errors.code value=code}}
      <button type="submit" class="btn full-width teal">Continue</button>
    </form>
</div>
