<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="welcome-info intro-video">
          <iframe width="960" height="500" src="https://www.youtube.com/embed/mRUH_wNh0dU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
