<div class="container">
  <div class="row center-align">
    <div class="col m12">

      <!-- Needs design and stylign -->
      
      <h1>Welcome to Repositive!</h1>

      <h2>Please check your email to verify your account.</h2>

      {{#link-to 'root'}}<button class="btn teal white-text" {{action "enterSite"}}>Continue to Home Page</button>{{/link-to}}
    </div>
  </div>
</div>
