<div class="container">
  <div class="row center-align">
    <div class="col m12">

      <h1>Please go to your inbox and verify your email.</h1>

      <div class="or-div">
        <span>
          OR
        </span>
      </div>

      {{#link-to 'root'}}<button class="btn teal white-text" {{action "enterSite"}}>Verify Later</button>{{/link-to}}
    </div>
  </div>
</div>
