<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <h2 class="sub-grey">Please go to your inbox and verify your email.</h2>
          <div class="card-body">
            <img src="/assets/images/email-lizard.png" class="lizard-image" alt="Email lizard">
            <div class="or-div"><span>OR</span></div>
            {{#link-to 'root'}}<button class="btn teal white-text" {{action "enterSite"}}>Verify Later</button>{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
